.errorpage-wrap {
    padding: 120px 0 0;
    background-color: #e7eaf2;
    color: #333;
    text-align: center;
}

@media(min-width:768px) {
    .errorpage-wrap {
        text-align: left;
    }
}

.oops {
    font-size: 30px;
    display: block;
    margin: 0 0 3px;
}

@media(min-width:1024) {
    .oops {
        margin: 0 0 60px;
    }
}

.lost {
    display: block;
    margin-bottom: 20px;
    font-size: 25px;
}

.errorpage-wrap h1 {
    margin-top: 55px;
}

@media(min-width:768px) {
    .lost a {
        margin-top: 0;
    }
}

.lost a {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding: 8px 12px;
    margin: 20px 0 0;
    display: block;
    transition: 400ms ease;
}
@media(min-width: 768px){
  .lost a {
    width: 140px;
}
}
.lost a:hover,
.lost a:focus {
    color: #CF2027;
    background-color: #F1F1F1;
    box-shadow: 0 5px 0 0 #CF2027 inset;
    text-decoration: none;
}
