span.error {
    background-color: #cc1d1d;
    color: #fff !important;
    font-size: 11px;
    font-weight: normal;
    padding: 0 3px;
    margin: 5px 0 0;
    display: inline-block;
}

span#captchaResult-error {
    width: 110px;
    display: block;
}

input.error[type="text"], .feedback-form textarea.error {
    border: 1px solid rgb(218, 37, 28);
}
.processing {
    background-image: url("../img/load.gif");
    height: 16px;
    position: absolute;
    width: 16px;
    top: -24px;
    right: 20px;
}