body { font-family: 'Lato', sans-serif; font-size: 14px; color: rgb(0, 0, 0); }
/*==============================================================================
==================================Start Default=================================
==============================================================================*/

h1, h2, h3, h4, h5, h6 { font-weight: 700; }
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
a, a:hover, a:focus { text-decoration: none; transition: 400ms ease; outline: none; }
p { line-height: 22px; }
.btn-all { background-color: transparent; color: rgb(147, 149, 152); border: 1px solid rgb(147, 149, 152); font-size: 16px; padding: 10px 15px; display: inline-block; text-transform: uppercase; }
.btn-all:hover, .btn-all:focus { background-color: rgb(32, 165, 110); color: rgb(255, 255, 255); border: 1px solid rgb(32, 165, 110); }
.view-more { background-color: rgba(255, 255, 255, .2); color: rgb(255, 255, 255); padding: 5px 15px; display: inline-block; border: 1px solid rgb(255, 255, 255); }
.banner-content .view-more { background-color: rgba(10, 156, 98, 1); border-color: transparent; color: #fff; }
.banner-content .view-more:hover, .banner-content .view-more:active { background-color: rgba(10, 156, 98, 0.8); }
.go { background-color: rgb(207, 32, 39); color: rgb(255, 255, 255); border: none; border-radius: 0; transition: 400ms ease; }
.go:hover, .go:focus { background-color: rgb(255, 255, 255); color: rgb(207, 32, 39); box-shadow: none; }

@media(min-width:1200px) {
.btn-all { font-size: 18px; }
.btn-book-now { min-width: 160px; }
}
/*==============================================================================
==================================End Default===================================
==============================================================================*/


/*==============================================================================
==================================Start Breadcrumb==============================
==============================================================================*/

.breadcrumb-wrap { background-color: rgb(231, 234, 242); padding: 15px 0; display: none; }
.breadcrumb { background-color: transparent; padding: 0; margin: 0; border: none; border-radius: 0; }
.breadcrumb a, .breadcrumb li { color: rgb(0, 0, 0); text-transform: uppercase; }
.breadcrumb li + li:before { color: rgb(0, 0, 0); content: "> "; }

@media(min-width:768px) {
.breadcrumb-wrap { display: block; }
}
/*==============================================================================
==================================End Breadcrumb================================
==============================================================================*/


/*==============================================================================
==================================Start Header==================================
==============================================================================*/

.header-nav-wrap { margin: 0; border: none; }
.header-nav-wrap .navbar-brand { width: 200px; height: auto; padding: 10px 15px 0; }
.header-nav-wrap .navbar-header button.navbar-toggle { margin-top: 24px; margin-right: 10px; position: absolute; top: 5px; right: 0; }
.header-nav-wrap .navbar-header button.navbar-toggle .icon-bar { background-color: rgb(100, 190, 154); }
.header-nav ul.nav li a, .header-nav ul.nav li form { color: rgb(0, 0, 0); padding: 10px; margin: 0; border-top: 5px solid transparent; }
.header-nav ul.nav li a:hover, .header-nav ul.nav li a:focus, .header-nav ul.nav li a.active, .header-nav .nav .open a:hover, .header-nav .nav .open a:focus, .header-nav .nav .open a.has-submenu { background-color: rgba(240, 240, 240, 0.9); color: rgb(207, 32, 39); border-top: 5px solid rgb(207, 32, 39); }
.header-nav .nav .open a { background-color: transparent; }
.sub-arrow { display: none; }
.header-nav .dropdown-menu.sm-nowrap { padding: 0; top: 60px !important; right: auto; border: none; border-radius: 0; box-shadow: none; transition: all 400ms ease 0s; }
.header-nav .dropdown.open .dropdown-menu.sm-nowrap { top: 100% !important; }
.header-nav .dropdown-menu.sm-nowrap a { margin: 0; padding: 5px 15px; border: none; }
.header-nav .dropdown-menu.sm-nowrap a:hover, .header-nav .dropdown-menu.sm-nowrap a:focus { border: none; }
.search-wrap { height: 100%; display: block; padding: 5px 0 0; position: relative; float: right; }
.search-btn { background-color: transparent; border: none; cursor: pointer; }
.search-wrap input { width: 180px; background-color: rgb(241, 241, 241); position: absolute; top: 50%; left: -67px; border: 1px solid rgb(229, 229, 229); border-radius: 0; box-shadow: none; opacity: 0; transform: translateX(-50%); -webkit-transform: translateX(-50%); transition: 400ms ease; z-index: -1 }
input.form-control.active { top: 70%; opacity: 1; z-index: 1; }
.search-wrap input.form-control:focus { background-color: rgb(255, 255, 255); box-shadow: none; border: 1px solid rgb(229, 229, 229); ; }

@media(min-width:768px) {
.header-nav ul.nav li a,  .header-nav ul.nav li form { padding: 26px 10px; }
.search-wrap { padding: 30px 0; }
}

@media(min-width:1024px) {
.header-nav-wrap .navbar-brand { width: auto; padding: 10px 15px 0; }
.header-nav ul.nav li a,  .header-nav ul.nav li form { padding: 40px 15px; margin: 0; }
.search-wrap { padding: 45px 0 40px; }
}
/*==============================================================================
==================================End Header====================================
==============================================================================*/


/*==============================================================================
==================================Start Owl-carasouel===========================
==============================================================================*/
#main-banner { background-color: rgb(41, 42, 47); }
#main-banner.owl-carousel .owl-item img { opacity: 0.7; }
.banner-desc { width: 100%; color: rgb(255, 255, 255); position: absolute; top: 50%; left: 50%; text-align: center; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.banner-content h1 { font-size: 20px; margin: 0 0 10px; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); }
.banner-desc p { font-size: 20px; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); }
.owl-nav { opacity: 0; transition: 400ms ease; }
.owl-carousel:hover .owl-nav { opacity: 1; }
.owl-next { width: 45px; height: 83px; background-image: url(../img/banner/icon-banner-next.png); background-repeat: no-repeat; display: none !important; position: absolute; top: 50%; right: 10%; font-size: 0; transform: translateY(-50%); -webkittransform: translateY(-50%); }
.owl-next:hover { background-image: url(../img/banner/icon-banner-next-hover.png); }
.owl-prev { width: 45px; height: 83px; background-image: url(../img/banner/icon-banner-prev.png); background-repeat: no-repeat; display: none !important; position: absolute; top: 50%; left: 10%; font-size: 0; transform: translateY(-50%); -webkittransform: translateY(-50%); }
.owl-prev:hover { background-image: url(../img/banner/icon-banner-prev-hover.png); }
.owl-theme .owl-controls { margin: 0; }
.owl-dots { width: 100%; position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
.owl-dot { display: inline-block; }
#main-banner .owl-dot span { width: 10px; height: 10px; background-color: rgba(255, 255, 255, .5); margin: 0 5px; border-radius: 50%; display: inline-block; }
#main-banner .owl-dot.active span { background-color: rgb(250, 224, 8); }

@media(min-width:768px) {
.banner-content h1 { font-size: 40px; margin: 0 0 15px; }
.owl-next { display: block !important; }
.owl-prev { display: block !important; }
.owl-dots { bottom: 30px; }
}

@media(min-width:600px) {
.banner-desc { width: auto; }
}
/*==============================================================================
==================================End Owl-carasouel=============================
==============================================================================*/


/*==============================================================================
==================================Start Search Filter wrap======================
==============================================================================*/

.search-filter-wrap { background-color: rgb(41, 42, 47); padding: 40px 0; overflow: hidden; }
.search-filter-wrap .select2 { margin: 0 0 15px; }
.search-filter-wrap .select2, .search-filter-wrap .select2-container--default .select2-selection--single { height: 35px; background-color: rgb(52, 53, 59); color: rgb(255, 255, 255); border: none; border-radius: 0; text-align: center; }
.search-filter-wrap .select2-container--default .select2-selection--single .select2-selection__rendered { height: 100%; color: rgb(255, 255, 255); line-height: 35px; }
.search-filter-wrap .select2:focus { box-shadow: none; }
.search-filter-wrap input.go { padding: 0 0 3px; }
.search-filter-wrap .select2-container--default .select2-selection--single .select2-selection__arrow { height: 100%; }

@media(min-width:768px) {
.search-filter-wrap .select2 { margin: 0; }
}
/*==============================================================================
==================================Start Search Filter wrap======================
==============================================================================*/


/*==============================================================================
==================================Start Highlighted Tours=======================
==============================================================================*/

.tour-highlighted-wraps:nth-child(2n+2) .tour-location-wrap { float: right; }
.tour-location-wrap { width: 50%; display: none; float: left; }
.tours { width: 100%; cursor: pointer; }
.location-img-wrapper { width: 50%; display: inline-block; float: left; overflow: hidden; }
.tour-location-wrap .tours h2 { width: 50%; padding: 60px 0; margin: 0; display: inline-block; position: relative; float: left; color: #fff; text-align: center; vertical-align: middle; text-transform: uppercase; line-height: 1; }
h2 .sub_title { display: inline-block; font-size: 14px; width: 100%; }
.tour-location-wrap .tours h2:before { border-bottom: 20px solid rgba(0, 0, 0, 0); border-right: 20px solid rgb(255, 255, 255); border-top: 20px solid rgba(0, 0, 0, 0); position: absolute; top: 50%; left: -20px; content: ""; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.tour-location-wrap .tours:nth-child(2n+2) .location-img-wrapper { float: right; }
.tour-location-wrap .tours:nth-child(2n+2) h2:before { display: none; }
.tour-location-wrap .tours:nth-child(2n+2) h2:after { border-bottom: 20px solid rgba(0, 0, 0, 0); border-left: 20px solid rgb(255, 255, 255); border-top: 20px solid rgba(0, 0, 0, 0); position: absolute; top: 50%; right: -20px; content: ""; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.tour-detail-slide-in-wrap { overflow: hidden; background-color: #292A2F; }
.tour-detail-slide-in { width: 100%; display: inline-block; position: relative; float: left; overflow: hidden; }
.trek-short-desc { width: 100%; background-color: rgba(0, 0, 0, .7); color: rgb(255, 255, 255); padding: 15px; position: absolute; left: 0; bottom: 0; }
.trek-short-desc h3 { margin: 0; text-transform: uppercase; }
.trek-short-desc p { margin: 0; display: none; line-height: 36px; }
.tour-location-wrap .tours.nepal-tours h2 { background-color: rgb(97, 174, 77); background-image: url(../img/icons/nepal-tour-bg.png); background-position: bottom center; background-repeat: no-repeat; }
.tour-location-wrap .tours.nepal-tours h2::before { border-bottom: 20px solid rgba(0, 0, 0, 0); border-right: 20px solid rgb(97, 174, 77); border-top: 20px solid rgba(0, 0, 0, 0); }
.tour-location-wrap .tours.bhutan-tours h2 { background-color: rgb(222, 185, 39); background-image: url(../img/icons/bhutan-tour-bg.png); background-position: bottom center; background-repeat: no-repeat; }
.tour-location-wrap .tours.bhutan-tours h2::after { border-bottom: 20px solid rgba(0, 0, 0, 0); border-left: 20px solid rgb(222, 185, 39); border-top: 20px solid rgba(0, 0, 0, 0); }
.tour-location-wrap .tours.india-tours h2 { background-color: rgb(209, 116, 32); background-image: url(../img/icons/india-tour-bg.png); background-position: bottom center; background-repeat: no-repeat; }
.tour-location-wrap .tours.india-tours h2::before { border-bottom: 20px solid rgba(0, 0, 0, 0); border-right: 20px solid rgb(209, 116, 32); border-top: 20px solid rgba(0, 0, 0, 0); }
.tour-location-wrap .tours.tibet-tours h2 { background-color: rgb(52, 105, 197); background-image: url(../img/icons/tibet-tour-bg.png); background-position: bottom center; background-repeat: no-repeat; }
.tour-location-wrap .tours.tibet-tours h2::after { border-bottom: 20px solid rgba(0, 0, 0, 0); border-left: 20px solid rgb(52, 105, 197); border-top: 20px solid rgba(0, 0, 0, 0); }
.tour-location-wrap .tours:hover h2 { opacity: 0.9; }

@media(min-width:768px) {
.tour-location-wrap { display: block; }
.trek-short-desc h3 { margin: 0 0 15px; }
.trek-short-desc p { display: block; line-height: 22px; }
}

@media(min-width:992px) {
.tour-location-wrap .tours h2 { padding: 87px 0 88px; }
}

@media(min-width: 1024px) {
.tour-location-wrap { display: inline-block; }
}

@media(min-width:1200px) {
.tour-location-wrap .tours h2 { padding: 112px 0 113px; }
}
/*==============================================================================
==================================End Highlighted Tours=========================
==============================================================================*/

/*==============================================================================
==================================Start News====================================
==============================================================================*/
.banner-news { height: 500px; background-repeat: no-repeat; background-position: top center; background-size: cover; background-attachment: fixed; display: flex; align-items: center; justify-content: center; }
.banner-news h2 { color: rgb(255, 255, 255); padding: 30px 40px; margin: 0; border: 6px solid rgb(255, 255, 255); }
.news-wrap { padding: 40px 0; }
.contents { width: 100%; padding: 0 0 20px; margin: 0 0 40px; display: block; box-shadow: 0px 5px 6px -6px rgba(0, 0, 0, 0.2) }
.contents p { margin: 0 0 30px; }
.contents-head { margin: 0 0 30px; text-align: center; }
.date { color: rgb(0, 0, 0); font-size: 16px; padding: 8px 15px; margin: 0 0 15px 0; display: inline-block; border: 2px solid rgb(113, 113, 113); text-align: center; vertical-align: top; }
.date span { display: block; }
.contentTitlewrap { font-size: 12px; display: block; vertical-align: top; }
.contentTitlewrap h3 { font-size: 20px; font-weight: normal; margin: 0 0 5px; }
.postedBy, .tagiingWrap, .tagiingWrap a { color: rgb(147, 149, 152); text-transform: uppercase; }
.contents-img-wrap { margin: 0 0 30px; }
.contents-img-wrap span { width: 100%; color: rgb(113, 113, 113); font-size: 12px; font-style: italic; display: block; margin: 10px 0 0; text-align: center; }
.btnReadmore { background-image: url("../img/icons/icon-book.png"); background-size: 18px; background-position: 5px center; background-repeat: no-repeat; color: rgb(147, 149, 152); padding: 5px 10px 5px 30px; border: 1px solid rgb(147, 149, 152); display: inline-block; overflow: hidden; transition: 400ms ease; }
.btnReadmore:hover, .btnReadmore:focus { background-color: rgb(147, 149, 152); background-image: url("../img/icons/icon-person.png"); color: rgb(255, 255, 255); }
.asideContent h5 { font-weight: normal; margin: 0 0 15px; }
.asideContent ul { padding: 0 0 0 15px; }
.asideContent ul li { list-style: outside url("../img/icons/icon-arrow.png"); margin: 0 0 10px; }
.asideContent ul li a { color: rgb(113, 113, 113);text-transform:capitalize; }
.asideContent ul li a:hover, .asideContent ul li a:focus { color: rgb(63, 63, 63); }

@media(min-width:768px) {
.contents-head { text-align: left; }
.date { margin: 0 30px 0 0; }
.contentTitlewrap { font-size: 14px; display: inline-block; }
.contentTitlewrap h3 { font-size: 18px; }
}
/*==============================================================================
==================================End News======================================
==============================================================================*/

/*==============================================================================
==================================Start Featured Experiences====================
==============================================================================*/

.featured-experiences { background-color: rgb(249, 248, 244); padding: 40px 0; position: relative; text-align: center; overflow: hidden; z-index: 2; }
.featured-header { margin: 0 0 40px; }
.featured-header h2 { padding: 0 0 5px; margin: 0 0 15px; display: inline-block; border-bottom: 1px solid rgb(225, 219, 201); float: left; }
.featured-header .select2-container { width: 50% !important; text-align: center; display: inline-block; }
.featured-header .select2-container--default .select2-selection--single { background-color: transparent; border: 1px solid rgb(0, 0, 0); border-radius: 0; }
.featured-experiences-img-wrapper { position: relative; text-align: center; }
.featured-experiences-detail { width: 100%; /*height: 220px;*/ display: flex; position: relative; align-items: flex-start; justify-content: center; /*text-align: center;*/
text-transform: uppercase; margin-left:15px; }
.featured-experiences .featured-experiences-detail{
	align-items: center;
	align-content: stretch;
}
.featured-experiences-detail:before { border-bottom: 20px solid rgba(0, 0, 0, 0); border-right: 20px solid rgb(249, 248, 244); border-top: 20px solid rgba(0, 0, 0, 0); display: block; position: absolute; top: 50%; left: -34px; content: ""; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.featured-experiences .tour-package-wrap:nth-child(2n+1) .featured-experiences-detail:after { border-bottom: 20px solid rgba(0, 0, 0, 0); border-left: 20px solid rgb(249, 248, 244); border-top: 20px solid rgba(0, 0, 0, 0); display: block; position: absolute; top: 50%; right: -34px; content: ""; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.featured-experiences-detail:after { display: none; }
.featured-experiences .tour-package-wrap:nth-child(2n+1) .featured-experiences-detail:before { display: none; }
.featured-experiences .col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-right { padding-left: 15px; }
.featured-experiences .tour-package-wrap:nth-child(2n) .col-xs-12.col-sm-6.col-md-6.col-lg-6:first-child { padding-right: 15px; }
.featured-experiences .tour-package-wrap:last-child { margin: 0 0 40px; }
.featured-experiences-detail h2 { width: 310px; overflow: hidden; /*text-overflow: ellipsis;
    white-space: nowrap;*/
font-size: 18px; }
.featured-experiences-detail h3 { font-size: 20px; font-weight: 700; margin: 0 0 15px; }
.featured-experiences-img-wrapper img { display: inline-block; max-width: 100%; }
.featured-experiences-detail span { color: rgb(109, 110, 113); font-size: 14px; margin: 0 0 5px; display: block; }
.featured-experiences-detail .trek-difficulty-level { color: rgb(44, 113, 184); margin: 0 0 20px; }
.featured-experiences-detail .btn-all { margin: 0 10px 0 0; }
.featured-experiences .trek-short-desc { display: none; }

@media(min-width:768px) {
.featured-header h2 { margin: 0; }
.featured-header .select2-container { width: 15% !important; float: right; }
.featured-experiences .tour-package-wrap:nth-child(2n) .col-xs-12.col-sm-6.col-md-6.col-lg-6:first-child { padding-right: 0; }
.featured-experiences .tour-package-wrap:nth-child(2n+1) .col-xs-12.col-sm-6.col-md-6.col-lg-6:first-child { padding-right: 15px; }
.featured-experiences .col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-right { padding-left: 0; }
}

@media(min-width:1024px) {
/*.featured-experiences-detail { height: 280px; }*/
.featured-experiences .trek-short-desc { display: block; line-height: 22px; }
}

.featured-experiences-detail h3,  .featured-experiences-detail h2 { font-size: 15px;
margin: 0 0 15px;
line-height: 1;
min-height: 33px; }

@media(min-width:1200px) {
.featured-experiences-detail { height: 350px; }
.featured-experiences-detail h3,  .featured-experiences-detail h2 { font-size: 15px;
margin: 0 0 15px;
line-height: 1;
min-height: 33px; }
.featured-experiences-detail span { font-size: 15px;
margin: 0 0 10px; }
.featured-experiences-detail .trek-difficulty-level { margin: 0 0 40px; }
.featured-experiences-detail .btn-all { margin: 0 20px 0 0;
font-size: 15px; }
.featured-experiences .trek-short-desc { line-height: 36px; }
}

@media only screen and (min-width:768px) and (max-width: 1200px){
	.featured-experiences .featured-experiences-detail {
		margin-top:20px;
	}

	.featured-experiences-detail::before{
		content: none;
	}
}

@media(max-width: 767px){
	.package-filter .select2-container{
		width: 100% !important;
	}

	.featured-experiences-detail::before{
		content: none;
	}

.featured-experiences-detail h3,  .featured-experiences-detail h2{
	margin-top:20px;
	width:100%;
}
	ul.content{
		padding-left: 0;
	}

	.featured-experiences .featured-experiences-detail .align-middle{
		padding: 0 0 20px;
	}
}
/*==============================================================================
==================================End Featured Experiences======================
==============================================================================*/


/*==============================================================================
==================================Start Testimonial=============================
==============================================================================*/

.testimonial-wrap { background-color: rgb(255, 255, 255); padding: 40px 0; position: relative; z-index: 2; }
.comments-wrap { text-align: center; }
.comment-user-name, .comment-country-name { font-size: 16px; font-style: italic; margin: 0 0 15px; display: block; text-align: center; }
.comment-user-img { width: 120px; height: 120px; margin: 0 auto; display: block; border: 1px solid rgb(241, 237, 225); border-radius: 50%; overflow: hidden; }
/*=====Start Testimonial Details / Listing=====*/
.testimonials-listing-wrap { padding: 40px 0; }
.testimonials { min-height: 360px; background-color: rgb(231, 234, 242); color: rgb(76, 81, 91); padding: 20px; margin: 0 0 20px; border: 1px solid rgb(213, 217, 226); border-radius: 5px; position: relative; overflow: hidden; }
.testimonials-listing-wrap .testimonials .comment-user-img { margin: 0 auto 15px; position: relative; border: none; }
.testimonials-listing-wrap .testimonials .comment-user-name { margin: 0 0 20px; position: relative; }
.testimonials .comment-user-name:before { width: 40px; height: 1px; background-color: rgb(76, 81, 91); position: absolute; bottom: -7px; left: 50%; content: ""; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
.testimonials:hover .comment-user-img, .testimonials:focus .comment-user-img, .testimonials:hover .comment-user-name, .testimonials:focus .comment-user-name { color: rgb(255, 255, 255); z-index: 2; transform: scale(1.2); -webkit-transform: scale(1.2); transition: 400ms ease; }
.testimonials:hover .comment-user-name:before { background-color: rgb(255, 255, 255); }
.testimonials-listing-wrap .testimonials a { width: 100%; height: 100%; background-color: rgba(10, 156, 98, 0.9); color: rgb(255, 223, 0); display: flex; border-radius: 5px; justify-content: center; align-items: center; position: absolute; top: 100%; left: 0; z-index: 1; }
.testimonials:hover a, .testimonials:focus a { top: 0; }
.testimonials-listing-wrap .testimonials a span { background-color: rgb(255, 223, 0); color: rgb(10, 156, 98); margin: 100% 0 0; transition: all 600ms ease 0s; padding: 10px 20px; border-radius: 3px; transition: all 700ms ease 0s; }
.testimonials-listing-wrap .testimonials:hover a span { margin: 30% 0 0; }
.testimonials-listing-wrap .testimonials a span:hover, .testimonials-listing-wrap .testimonials a span:focus { box-shadow: 0 0 9px 0 rgb(255, 249, 211) inset; }
.testimonial-detail-wrap { background-color: rgb(222, 225, 232); padding: 40px 0; }
.testimonial-detail-wrap .col-xs-12.col-sm-3.col-lg-2 { padding-right: 15px; }
.testimonial-detail-wrap .col-xs-12.col-sm-9.col-lg-10 { padding-left: 15px; }
.user-info-wrap { background: rgb(255, 255, 255); padding: 20px; }
.user-info-wrap .comment-user-name { margin: 0; }
.comments { min-height: 200px; background-color: rgb(255, 255, 255); padding: 20px 20px 80px; position: relative; overflow: hidden; }
.comments:before { position: absolute; right: 0; bottom: 0; border-right: 60px solid rgba(0, 0, 0, 0); border-top: 60px solid rgb(205, 207, 211); box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.8); content: ""; }
.comments:after { border-bottom: 60px solid rgb(222, 225, 232); border-left: 60px solid rgba(0, 0, 0, 0); position: absolute; right: 0; bottom: 0; content: ""; }

@media(min-width:768px) {
.testimonial-detail-wrap .col-xs-12.col-sm-3.col-lg-2 { padding-right: 0; }
.testimonial-detail-wrap .col-xs-12.col-sm-9.col-lg-10 { padding-left: 0; }
.comments { padding: 40px 20px 80px 0; }
.user-info-wrap { padding: 40px 0 0; }
}
/*=====End Testimonial Details / Listing=====*/

/*==============================================================================
==================================End Testimonial===============================
==============================================================================*/


/*==============================================================================
==================================Start Inner content Page======================
==============================================================================*/

.inner-banner { margin: 0 0 30px; }
.inner-content h2 { margin: 0 0 30px; text-transform: uppercase; }
/*==============================================================================
==================================End Inner content Page========================
==============================================================================*/


/*==============================================================================
====================================Start Team page=============================
==============================================================================*/

.team-wrapper { padding: 40px 0; }
#team-post { font-weight: 700; }
.custom-tab h3 { padding: 0 0 15px; margin: 0 0 15px; border-bottom: 1px dashed rgb(200, 200, 200); text-transform: uppercase; }
.custom-tab h3:first-child { margin: 0 0 15px; }
.custom-aside-tab-head { width: auto; background-color: rgb(231, 234, 242); padding: 0; }
.custom-aside-tab-head ul.nav-tabs { border: none; }
.custom-aside-tab-head ul.nav-tabs li { margin: 0; float: none; display: block; }
.custom-aside-tab-head ul.nav-tabs li a { color: rgb(0, 0, 0); padding: 10px; border: none; border-bottom: 1px dashed rgb(200, 200, 200); border-radius: 0; position: relative; }
.custom-aside-tab-head ul.nav-tabs li a:hover, .custom-aside-tab-head ul.nav-tabs li a:focus, .custom-aside-tab-head ul.nav-tabs li.active a { background-color: transparent; color: rgb(32, 165, 110); padding: 10px; border: none; border-bottom: 1px dashed rgb(32, 165, 110); }
/*.custom-aside-tab-head ul.nav-tabs li a:hover:before,
.custom-aside-tab-head ul.nav-tabs li a:focus:before,
.custom-aside-tab-head ul.nav-tabs li.active a:before {
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid rgb(32, 165, 110);
    border-top:8px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    content: "";
    transition: 500ms ease;
}*/

.custom-aside-tab-head .panel-heading { padding: 0; }
.custom-aside-tab-head .panel-heading a { width: 100%; padding: 10px; display: block; }
.custom-tab .tab-content { background-color: rgb(255, 255, 255); padding: 20px; }
#team-accordion .panel { border-radius: 0; border: none; box-shadow: none; }
#team-accordion .panel-heading { padding: 0; }
#team-accordion .panel-heading .panel-title a { width: 100%; padding: 10px 15px; display: block; text-align: center; }
#team-accordion .panel-heading h4 a.collapsed { background-color: rgb(207, 32, 39); color: rgb(255, 255, 255); }
#team-accordion h4 a.js-tabcollapse-panel-heading { background-color: rgb(32, 165, 110); color: rgb(255, 255, 255); }

@media(min-width:768px) {
.custom-aside-tab-head { width: 220px; padding: 20px; }
}

@media(min-width:992px) {
.custom-aside-tab-head { width: 290px; }
}

@media(min-width:1200px) {
.custom-aside-tab-head { width: 360px; }
}
/*==============================================================================
====================================End Team page===============================
==============================================================================*/


/*==============================================================================
==================================Start Destination Page========================
==============================================================================*/

.destination-content-wrap .row .col-xs-12.col-sm-5.col-lg-5:first-child { padding-right: 15px; }
.destination-content-wrap .row:nth-child(2n + 2) .col-xs-12.col-sm-5.col-lg-5.pull-right { padding-left: 15px; padding-right: 15px; }
.destination-content-wrap .row .col-xs-12.col-sm-2.col-lg-2 { padding: 0; display: none; }
.destination-content-wrap .row .col-lg-5:last-child { padding-left: 15px; }
.destination-content-wrap .row:nth-child(2n + 2) .col-xs-12.col-sm-5.col-lg-5 { padding-left: 15px; padding-right: 15px; text-align: left; }
.destination-content-img { position: relative; overflow: hidden; }
.destination-content-img h2 { width: 100%; color: rgb(255, 255, 255); margin: 0; position: absolute; top: 50%; left: 50%; text-align: center; text-transform: uppercase; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.destination-content-icon-wrap { background-color: rgb(248, 248, 248); padding: 86.9% 0; position: relative; text-align: center; }
.destination-content-icon-wrap img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.destination-content-desc { padding: 20px 0; }
.destination-content-desc p { color: rgb(109, 110, 113); /*max-height: 110px;
    min-height: 110px;*/
overflow: hidden; }
.destination-content-wrap .row:nth-child(2n + 2) .destination-content-desc { padding: 20px 0; }
.destination-content-desc h3 { margin: 0 0 15px; }
.destination-content-wrap .btn-all { color: rgb(255, 255, 255); border: 1px solid transparent; float: left; }
.destination-content-wrap .row:nth-child(2n + 2) .btn-all { float: left; }
.destination-content-wrap .btn-all:hover { background-color: rgba(0, 0, 0, 0) !important; border: 1px solid rgb(136, 136, 136); color: rgb(136, 136, 136); }
.destination-content-icon-wrap:before { border-bottom: 20px solid rgba(0, 0, 0, 0); border-right: 20px solid rgb(248, 248, 248); border-top: 20px solid rgba(0, 0, 0, 0); content: ""; left: -20px; position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.destination-content-wrap .row:nth-child(2n + 2) .destination-content-icon-wrap:before { display: none; }
.destination-content-wrap .row:nth-child(2n + 2) .destination-content-icon-wrap:after { border-bottom: 20px solid rgba(0, 0, 0, 0); border-left: 20px solid rgb(248, 248, 248); border-top: 20px solid rgba(0, 0, 0, 0); content: ""; right: -20px; position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }

@media(min-width:768px) {
.destination-content-wrap .row .col-xs-12.col-sm-5.col-lg-5:first-child { padding-right: 0; }
.destination-content-wrap .row .col-xs-12.col-sm-2.col-lg-2 { display: block; }
.destination-content-wrap .row .col-lg-5:last-child { padding-left: 0; }
.destination-content-wrap .row:nth-child(2n + 2) .col-xs-12.col-sm-5.col-lg-5.pull-right { padding-left: 0; padding-right: 15px; }
.destination-content-wrap .row:nth-child(2n + 2) .col-xs-12.col-sm-5.col-lg-5 { padding-left: 15px; padding-right: 0;/*text-align: right;*/
}
.destination-content-desc { padding: 10px 0 5px 20px; }
.destination-content-wrap .row:nth-child(2n + 2) .destination-content-desc { padding: 10px 20px 5px 0; }
.destination-content-wrap .btn-all { float: right; }
}

@media(min-width:1024px) {
.destination-content-desc { padding: 40px 0 40px 30px; }
.destination-content-desc .scroll-description { max-height: 109px; min-height: 109px; }
.destination-content-wrap .row:nth-child(2n + 2) .destination-content-desc { padding: 40px 30px 40px 0; }
}

@media(min-width:1200px) {
.destination-content-desc .scroll-description { max-height: 164px; min-height: 164px; }
}
/*==============================================================================
==================================End Destination Page==========================
==============================================================================*/


/*==============================================================================
==================================Start Destination Area Page===================
==============================================================================*/

.destination-areas { background-color: rgb(255, 255, 255); padding: 40px 0; /*text-align: center;*/
overflow: hidden; }
.destination-areas .featured-experiences-detail:before { border-right: 20px solid rgb(255, 255, 255); }
.destination-areas.featured-experiences .tour-package-wrap:nth-child(2n+1) .featured-experiences-detail:after { border-left: 20px solid rgb(255, 255, 255); }
.destination-areas .tour-package-wrap:nth-child(2n+1) .featured-experiences-detail:after { border-bottom: 20px solid rgba(0, 0, 0, 0); border-left: 20px solid rgb(249, 248, 244); border-top: 20px solid rgba(0, 0, 0, 0); display: block; position: absolute; top: 50%; right: -35px; content: ""; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.destination-areas .tour-package-wrap:nth-child(2n+1) .featured-experiences-detail:before { display: none; }
.destination-areas .col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-right { padding-left: 15px; }
.destination-areas .tour-package-wrap:nth-child(2n) .col-xs-12.col-sm-6.col-md-6.col-lg-6:first-child { padding-right: 15px; }
.destination-areas .tour-package-wrap:last-child { margin: 0 0 40px; }
.destination-areas .trek-short-desc { display: none; }

@media(min-width:768px) {
.destination-areas .tour-package-wrap:nth-child(2n) .col-xs-12.col-sm-6.col-md-6.col-lg-6:first-child { padding-right: 0; }
.destination-areas .tour-package-wrap:nth-child(2n+1) .col-xs-12.col-sm-6.col-md-6.col-lg-6:first-child { padding-right: 15px; }
.destination-areas .col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-right { padding-left: 0; }
}

@media(min-width:1024px) {
.destination-areas .trek-short-desc { display: block; line-height: 22px; }
}

@media(min-width:1200px) {
.destination-areas .trek-short-desc { line-height: 36px; }
}
/*==============================================================================
==================================End Destination Area Page=====================
==============================================================================*/


/*==============================================================================
==================================Start Packages Page===========================
==============================================================================*/

.packages-wrap { padding: 40px 0; }
.package-filter { margin: 0 0 30px; }
.package-filter label { color: rgb(207, 32, 39); padding: 0 0 0 20px; margin: 0 0 10px; display: block; position: relative; text-transform: uppercase; }
.package-filter label::before { width: 5px; height: 10px; background-color: rgb(207, 32, 39); position: absolute; left: 0; top: 50%; content: ""; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.package-filter .select2-selection.select2-selection--single { height: 35px; background-color: rgb(244, 244, 244); border: medium none; border-radius: 0; }
.package-filter .select2-container--default .select2-selection--single .select2-selection__rendered { padding-right: 40px; padding-left: 20px; line-height: 35px; }
.package-filter .select2-container--default .select2-selection--single .select2-selection__arrow { height: 100%; top: 0; right: 10px; }
.package-filter .select2-dropdown { border-radius: 0; }
.packages .tour-package-wrap { margin: 0 0 30px; }
.packages .col-xs-12.col-sm-6.col-md-6.col-lg-6:first-child { padding-right: 15px; }
/*.packages .featured-experiences-detail { height: 220px; }*/
.packages .featured-experiences-detail:before { border-right: 20px solid rgb(255, 255, 255); }
.packages .trek-short-desc { display: none; }
.pagination-wrap { text-align: right; }
.pagination-wrap a {  padding: 0; margin: 0; border: medium none; font-weight:500; display: block; line-height: normal; margin: 0 !important;
width: 20px;
height: 20px;
text-align: center;}
.pagination-wrap a:first-child, .pagination-wrap a:last-child { width: auto; height: auto; background-color: transparent; }
.page_navigation.pagination-wrap .page_link, .page_navigation.pagination-wrap .previous_link, .page_navigation.pagination-wrap .next_link { margin: 0 5px; vertical-align: middle; }
/*.page_navigation.pagination-wrap .page_link { font-size: 0; }
*/.pagination-wrap a.active_page { background-color: #356bb2;
color: #fff !important;
text-align: center;
line-height: 20px;
border-radius: 50%; }

@media(min-width:768px) {
.packages .col-xs-12.col-sm-6.col-md-6.col-lg-6:first-child { padding-right: 0; }
}

@media(min-width: 992px) {
.package-filter { margin: 0; }
/*.packages .featured-experiences-detail { height: 190px; }*/
}

@media(min-width:1200px) {
.packages .tour-package-wrap .featured-experiences-detail { height: 260px; }
.packages .trek-short-desc { display: block; }
}
/*===Start Booking From===*/

.booking-form-wrapper { background-color: rgb(249, 248, 244); padding: 40px 0; }
.bookingform-wrap { background-color: rgb(255, 255, 255); box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); padding: 20px; position: relative; }
.similar-processing, .popup-processing { background-color: rgba(0, 0, 0, 0.2); background-position: 50% center; background-repeat: no-repeat; height: 100%; position: absolute; top: 0; width: 100%; z-index: 9; left: 0; }
.bookingform-wrap h3 { font-weight: 700; margin: 0 0 20px; text-transform: uppercase; }
.bookingform-wrap input, .bookingform-wrap .select2-container--default .select2-selection--single { height: 35px; }
.bookingform-wrap input, .bookingform-wrap select, .bookingform-wrap textarea, .bookingform-wrap .select2-container--default .select2-selection--single { background-color: rgb(247, 247, 247); border: none; border-radius: 0; box-shadow: none; resize: none; }
.bookingform-wrap input:focus, .bookingform-wrap select:focus, .bookingform-wrap textarea:focus, .bookingform-wrap .select2-container--default .select2-selection--single:focus { border: none; box-shadow: none; }
.bookingform-wrap .select2-container { width: 100% !important; }
.bookingform-wrap .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 35px; }
.bookingform-wrap .btn-booking-submit, .btn-booking-popup-submit { height: auto; background-color: transparent; color: rgb(147, 149, 152); border: 1px solid rgb(147, 149, 152); font-size: 16px; padding: 10px 15px; display: inline-block; text-transform: uppercase; transition: 400ms ease; }
.bookingform-wrap .btn-booking-submit:hover, .btn-booking-popup-submit:hover .bookingform-wrap .btn-booking-submit:focus, .btn-booking-popup-submit:focus { background-color: rgb(32, 165, 110); color: rgb(255, 255, 255); border: 1px solid rgb(32, 165, 110); }
.bookingform-wrap .booking-status-wrap { border-left: none; padding: 0; margin: 30px 0 0; }
.bookingform-wrap .booking-status-wrap ul { padding: 0; }
.bookingform-wrap .booking-status-wrap ul li { list-style: outside none none; margin: 0 0 20px; }
.bookingform-wrap .booking-status-wrap ul li div { color: rgb(119, 119, 119); }
.bookingform-wrap .booking-status-wrap ul li span { color: rgb(44, 113, 184); font-weight: 700; }
.validation-sum input { padding: 5px 10px; }

@media(min-width:768px) {
.bookingform-wrap .booking-status-wrap { border-left: 1px solid rgb(224, 224, 224); padding: 0 0 0 30px; margin: 0; }
}
/*===End Booking From===*/


/*==============================================================================
==================================End Packages Page=============================
==============================================================================*/


/*==============================================================================
==================================Start Packages Detail Page====================
==============================================================================*/

.package-details-wrap { padding: 40px 0; }
.package-details-wrap h2 { font-size: 20px; margin: 0 0 20px; text-transform: uppercase; }
.package-status-wrap { position: relative; overflow: hidden; }
/*Package slider*/

#package-detail-slide { position: relative; top: 0; left: 0; margin: 0 0 30px; overflow: hidden; transition: 1s ease; z-index: 1; }
#package-detail-slide.owl-carousel .owl-controls .owl-dot { float: left; background-size: cover; transition: 300ms ease; }
#package-detail-slide .owl-controls { margin: 0; }
#package-detail-slide .owl-dot.active { border: 8px solid rgb(32, 165, 110); }
#package-detail-slide .owl-nav { width: 100%; position: absolute; top: 40%; left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
#package-detail-slide .owl-dots { position: relative; bottom: 0; }
/*End Package slider*/

.project-desc h4 { margin: 0 0 15px; text-transform: uppercase; }
.project-desc p { color: rgb(109, 110, 113); }
.trip-detail { margin: 0 0 40px; }
.trip-detail h4 { background-color: rgb(44, 113, 183); color: rgb(255, 255, 255); padding: 20px 0; margin: 0; position: relative; text-align: center; text-transform: uppercase; }
.trip-detail h4:after { border-left: 15px solid rgba(0, 0, 0, 0); border-right: 15px solid rgba(0, 0, 0, 0); border-top: 15px solid rgb(44, 113, 183); position: absolute; bottom: -15px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); content: ""; }
/*Start Full calendar*/

.package-availability-calendar { background-color: rgb(249, 248, 244); padding: 0 0 30px; margin: 0 0 40px; text-align: center; }
.package-availability-calendar h4 { background-color: rgb(32, 165, 110); color: rgb(255, 255, 255); padding: 20px; margin: 0; position: relative; text-align: center; }
.package-availability-calendar h4::after { position: absolute; bottom: -15px; left: 50%; border-left: 15px solid rgba(0, 0, 0, 0); border-right: 15px solid rgba(0, 0, 0, 0); border-top: 15px solid rgb(32, 165, 110); content: ""; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
#package-calendar { padding: 30px 10px 0; }
#package-calendar table.fc-header { position: relative; }
#package-calendar h2 { font-size: 16px; margin: 0; }
#package-calendar .fc-header-title p { font-size: 14px; margin: 0; }
#package-calendar span.fc-button { background: none; border: medium none; box-shadow: none; padding: 0 5px; text-shadow: none; cursor: pointer; }
#package-calendar .fc-header-center { padding: 0; }
#package-calendar .fc-header-left, #package-calendar .fc-header-right { position: absolute; padding: 0; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
#package-calendar .fc-header-left { left: 0; }
#package-calendar .fc-header-right { right: 0; }
#package-calendar .fc-content { margin: 20px 0 0; }
#package-calendar .fc-row.fc-widget-header { margin: 0 !important; }
#package-calendar table tr td { font-size: 12px; padding: 5px 0 5px; border: medium none; text-align: center; }
#package-calendar table tr th { font-size: 12px; border: medium none; text-transform: uppercase; }
#package-calendar .fc-highlight { background-color: rgb(32, 165, 110); color: rgb(255, 255, 255); opacity: 1; }
#package-calendar td.fc-today { background: rgb(44, 113, 183) none repeat scroll 0 0; color: rgb(255, 255, 255); }
.package-availability-calendar .btn-enquire { margin: 0 0 15px; display: inline-block; }
/*End Full calendar*/

.details { background-color: rgb(249, 248, 244); padding: 30px 20px; }
.details span { width: 50%; color: rgb(109, 110, 113); text-transform: uppercase; display: inline-block; float: left; }
.details .details-title { color: rgb(0, 0, 0); font-weight: bold; }
.share { margin: 0 0 40px; }
.share img, .download img { display: inline-block; margin: 0; vertical-align: middle; }
.share a, .download a { width: 74%; color: rgb(147, 149, 152); font-size: 16px; padding: 15px; margin: 0 0 0 20px; border: 1px solid rgb(147, 149, 152); display: inline-block; text-align: center; vertical-align: bottom; text-transform: uppercase; }
#package-detail-tab { border: none; }
#package-detail-tab > li { width: 25%; }
#package-detail-tab li a { background-color: #20A56E; color: rgb(255, 255, 255); border: medium none; border-radius: 0; margin: 0; text-align: center; }
#package-detail-tab li.active a { background-color: #2C71B7; color: rgb(255, 255, 255); position: relative; }
#package-detail-tab li.active a:after { border-left: 15px solid rgba(0, 0, 0, 0); border-right: 15px solid rgba(0, 0, 0, 0); border-top: 15px solid #2C71B7; position: absolute; left: 50%; bottom: -15px; content: ""; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
#package-detail-tab-content { padding: 30px 0; }
#package-detail-tab-content h4 { margin: 40px 0 20px; text-transform: uppercase; }
#package-detail-tab-content h4:first-child { margin: 0 0 20px 0; }
#package-detail-tab-content ul { padding: 0 0 0 15px; }
#itineray, #costing, #datesavailable { padding: 0 20px; }
.table.custom-table thead tr th, .table.custom-table tbody tr th, .table.custom-table tfoot tr th, .table.custom-table thead tr td, .table.custom-table tbody tr td, .table.custom-table tfoot tr td { border: medium none; }
.table.custom-table thead tr th { text-transform: uppercase; }
.table.custom-table tbody tr td a { color: rgb(0, 0, 0); text-transform: uppercase; }
.table.custom-table tbody tr td a:hover { color: rgb(32, 165, 110); }
#map-packages { width: 100%; height: 390px; background-color: rgb(204, 204, 204); }
/*======Start Tab collapse on responsive=====*/

.package-misc-detail-wrap .panel.panel-default { border: medium none; box-shadow: none; }
.package-misc-detail-wrap .panel-heading { background-color: rgba(0, 0, 0, 0); padding: 0; border: medium none; border-radius: 0; box-shadow: none; }
.package-misc-detail-wrap .panel-heading h4 a.collapsed { background-color: rgb(32, 165, 110); color: rgb(255, 255, 255); }
.package-misc-detail-wrap h4 a.js-tabcollapse-panel-heading { width: 100%; background-color: rgb(44, 113, 183); color: rgb(255, 255, 255); font-weight: normal; padding: 10px; display: block; border: medium none; border-radius: 0; box-shadow: none; text-align: center; }
.package-misc-detail-wrap .panel-group .panel-heading + .panel-collapse .panel-body, .package-misc-detail-wrap .panel-group .panel-heading + .panel-collapse .list-group { border: none; }

/*======End Tab collapse on responsive=====*/

@media(min-width: 768px) {
.package-details-wrap h2 { font-size: 30px; }
.trip-detail { width: 47%; float: left; margin: 0 15px 40px 0; }
.download-share-wrap { float: left; width: 50%; }
}

@media(min-width:992px) {
.trip-detail { width: 100%; float: none; margin: 0 0 40px 0; }
.download-share-wrap { width: 100%; float: none; }
}
/*==============================================================================
==================================End Packages Detal Page=======================
==============================================================================*/


/*==============================================================================
==================================Start Contact us==============================
==============================================================================*/

#map-canvas { width: 100%; height: 390px; background-color: rgb(204, 204, 204); }
.contactus-wrap { padding: 40px 0; }
.contactus-wrap h2 { border-bottom: 1px solid rgb(0, 0, 0); display: inline-block; padding: 0 0 5px; margin: 0 0 30px; text-transform: uppercase; }
.contactus-wrap form { margin: 0 0 40px; }
.contactus-wrap input { height: auto; padding: 15px; border: 1px solid rgb(170, 170, 172); border-radius: 0; box-shadow: none; text-align: center; }
.contactus-wrap textarea { padding: 15px; border: 1px solid rgb(170, 170, 172); border-radius: 0; box-shadow: none; text-align: center; resize: none; }
.contactus-wrap input:focus, .contactus-wrap textarea:focus { box-shadow: none; border: 1px solid rgb(170, 170, 172); }
.contactus-wrap input[type="submit"] { background-color: rgba(0, 0, 0, 0); color: rgb(170, 170, 172); padding: 10px 25px; border: 1px solid rgb(170, 170, 172); transition: 400ms ease; }
.contactus-wrap input[type="submit"]:hover, .contactus-wrap input[type="submit"]:focus { background-color: rgb(170, 170, 172); color: rgb(255, 255, 255); }
.contacts { padding: 0 0 0 10px; margin: 0 0 25px 0; display: inline-block; }
.contacts h3 { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); padding: 5px 30px 5px 10px; margin: 0 0 10px -10px; display: inline-block; }
.contacts span { color: rgb(0, 0, 0); font-weight: 700; margin: 0 0 5px; display: block; text-transform: uppercase; }
.contacts p { color: rgb(125, 125, 125); font-style: italic; margin: 0; }
.connectus-wrap h2 { width: 280px; border-bottom: 1px solid rgb(0, 0, 0); display: block; padding: 0 0 5px; margin: 0 0 30px; text-transform: uppercase; }
.connectus-wrap a { width: 35px; height: 35px; background-color: rgb(145, 145, 145); margin: 0 4px 0 0; border-radius: 50%; display: inline-flex; justify-content: center; align-items: center; }
.connectus-wrap .facebook:hover, .connectus-wrap .facebook:focus { background-color: rgb(83, 123, 189); }
.connectus-wrap .gmail:hover, .connectus-wrap .gmail:focus { background-color: rgb(76, 76, 75); }
.connectus-wrap .youtube:hover, .connectus-wrap .youtube:focus { background-color: rgb(233, 101, 75); }
.connectus-wrap .twitter:hover, .connectus-wrap .twitter:focus { background-color: rgb(95, 144, 175); }
.connectus-wrap .linkedin:hover, .connectus-wrap .linkedin:focus { background-color: rgb(32, 133, 199); }
.connectus-wrap .pintrest:hover, .connectus-wrap .pintrest:focus { background-color: rgb(255, 87, 85); }
.connectus-wrap .instagram:hover, .connectus-wrap .instagram:focus { background-color: rgb(105, 106, 106); }
.connectus-wrap .vimeo:hover, .connectus-wrap .vimeo:focus { background-color: rgb(0, 173, 239); }

@media(min-width:768px) {
.contacts { margin: 0 20px 25px 0; }
.connectus-wrap a { margin: 0 10px 0 0; }
}

@media(min-width:1024px) {
.contacts { margin: 0 0 25px 0; display: block; }
}
/*==============================================================================
==================================End Contact us================================
==============================================================================*/


/*==============================================================================
==================================Start Why us==================================
==============================================================================*/

.why-us-wrap { background-color: rgb(249, 248, 244); padding: 40px 0; text-align: center; position: relative; z-index: 2; }
.why-us-wrap h3 { margin: 0 0 20px; }
.why-us-wrap span { display: block; margin: 0 0 15px; }
.why-us-wrap ul { padding: 0; }
.why-us-wrap ul li { font-weight: 700; margin: 0 20px 0 0; display: inline-block; list-style: none; }
/*==============================================================================
==================================End Why us====================================
==============================================================================*/


/*==============================================================================
==================================Start Site Map================================
==============================================================================*/

.sitemap-wrap { padding: 40px 0; }
.sitemap-wrap h2 { margin: 0 0 15px; }
.sitemap-wrap a { color: rgb(0, 0, 0); margin: 0 0 10px; display: block; }
.sitemap-wrap a:hover, .sitemap-wrap a:focus { color: rgb(204, 21, 23); }
.sitemap-nav li { float: left; }
.sitemap-nav li ul { padding: 0 40px 0 20px; }
.sitemap-head { width: 99%; display: block; padding: 5px 15px; background-color: #e7eaf2; margin-bottom: 10px; min-height: 30px; }
/*==============================================================================
==================================End Site Map================================
==============================================================================*/


/*==============================================================================
==================================Start Footer==================================
==============================================================================*/

footer { background-color: rgb(41, 42, 47); color: rgb(255, 255, 255); padding: 40px 0; position: relative; z-index: 2; }
.footer-content-wrap { margin: 0 0 30px; }
footer h5 { margin: 0 0 20px; }
.footer-nav ul { padding: 0 0 0 15px; }
.footer-nav ul li a { color: rgb(255, 255, 255); margin: 0 0 10px; display: block; }
.footer-nav ul li a:hover { color: rgb(219, 70, 39); }
footer span { display: block; margin: 0 0 10px; }
footer span i { display: inline-block; }
footer span span { width: 270px; padding: 0 0 0 15px; margin: 0; display: inline-block; vertical-align: top; }
.social-wrap { margin: 40px 0 0; }
.social-wrap a { width: 35px; height: 35px; margin: 0 -2px 0 0; display: inline-flex; border-radius: 50%; justify-content: center; align-items: center; }
.social-wrap a:hover, .social-wrap a:focus { opacity: .8; }
.facebook { background-color: rgb(83, 123, 189); }
.gmail { background-color: rgb(76, 76, 75); }
.youtube { background-color: rgb(233, 101, 75); }
.twitter { background-color: rgb(95, 144, 175); }
.linkedin { background-color: rgb(32, 133, 199); }
.pintrest { background-color: rgb(255, 87, 85); }
.instagram { background-color: rgb(105, 106, 106); }
.vimeo { background-color: rgb(0, 173, 239); }
.footer-top { margin: 50px 0 15px; }
.footer-top a { display: inline-block; margin-right: 5px; vertical-align: top; }
.footer-top a img { width: 92px; }
.footer-top span { display: inline-block; vertical-align: top; }
.footer-top, .social-wrap { text-align: center; ; }

@media(min-width:768px) {
.footer-top, .social-wrap { text-align: left; ; }
.footer-content-wrap { margin: 0; }
.social-wrap a { margin: 0 5px 0 0; }
}
/*==============================================================================
==================================Start Footer==================================
==============================================================================*/


/*===================To top=======================*/

.cd-top { background: rgb(32, 165, 110) url("../img/icons/cd-top-arrow.svg") no-repeat scroll center 50%; bottom: 40px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); display: inline-block; height: 40px; opacity: 0; overflow: hidden; position: fixed; right: 10px; text-indent: 100%; transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s; visibility: hidden; white-space: nowrap; width: 40px; z-index: 9; }
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover { transition: opacity 0.3s ease 0s, visibility 0s ease 0s; }
.cd-top.cd-is-visible { opacity: 1; visibility: visible; }
.cd-top.cd-fade-out { opacity: 0.5; }
.no-touch .cd-top:hover { background-color: #da251c; opacity: 1; }

@media only screen and (min-width: 768px) {
.cd-top { bottom: 20px; right: 20px; }
}

@media only screen and (min-width: 1024px) {
.cd-top { bottom: 30px; height: 50px; right: 30px; width: 50px; }
}
/* close button for form */

.close-btn { width: 20px; height: 20px; background-image: url(../img/icons/icon-close.png); background-repeat: no-repeat; position: absolute; top: 15px; right: 30px; transition: 300ms ease; }
.close-btn:hover { transform: rotate(90deg); -webkit-transform: rotate(90deg); }
/*==============================================================================
====================================Start Gallery===============================
==============================================================================*/

.media-wrap { padding: 40px 0; }
.media-wrap h3 { margin: 0 0 30px; text-transform: uppercase; }
.media-content-wrap { max-height: 376px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); margin: 0 0 20px; position: relative; display: block; overflow: hidden; transition: 300ms ease; }
.media-content-img-wrap { max-height: 262px; overflow: hidden; }
.media-contents-title { width: 100%; color: rgb(0, 0, 0); font-size: 18px; font-weight: 700; line-height: 20px; padding: 10px; margin: 0; display: block; overflow: hidden; transition: 400ms ease; height:50px; }
.media-content-wrap:hover .media-contents-title, .media-content-wrap:focus .media-contents-title2 { background-color: rgb(44, 113, 183); color: rgb(255, 255, 255); }
.media-content-wrap .btn-share { right: 5px; top: 5px; transition: 400ms ease; }
.media-content-wrap .btn-share { position: absolute; }

/*==============================================================================
====================================end Gallery===============================
==============================================================================*/


/*==============================================================================
================================== Start Slider Animation=======================
==============================================================================*/

@-webkit-keyframes slider-animation {
 0 {
 opacity: 0;
}
 50% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
 @keyframes slider-animation {
 0 {
 opacity: 0;
}
 50% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
.slider-animation { -webkit-animation-name: slider-animation; animation-name: slider-animation; -webkit-animation-duration: 600ms; animation-duration: 600ms; }
/*==============================================================================
================================== End Slider Animation=========================
==============================================================================*/

/*==============================================================================
=====================================Page Loader================================
==============================================================================*/
.copyright { text-align: center; margin-top: 20px; }
/* table in package detail for cost includes/excludes */
.custom-table { border: 1px solid rgb(255, 162, 0); }
.table-bordered.custom-table thead tr th, .table-bordered.custom-table thead tr td { text-transform: uppercase; border: none; background-color: rgb(255, 162, 0); }
.custom-table.table-bordered thead tr th, .custom-table.table-bordered tbody tr th, .custom-table.table-bordered tfoot tr th, .custom-table.table-bordered thead tr td, .custom-table.table-bordered tbody tr td, .custom-table.table-bordered tfoot tr td { border: 1px solid rgb(255, 162, 0); }
#siteseal { text-align: center; }
.paging-information { background-color: #356bb2; display: inline-block; float: right; margin: 0; padding: 10px 20px 0; position: relative; text-align: right; }
.paging-information::after { border-radius: 50%; bottom: -20px; box-shadow: 5px 18px 0 0 #255ba2; content: ""; height: 50px; position: absolute; right: 18px; transform: rotate(-104deg); width: 50px; z-index: -99; }
.paging-information p { color: #fff; display: inline-block; }
.pagination-wrap { display: inline-block;
position: relative;
float: right;
text-align: center;
clear: both;
padding: 15px 20px;}

.pagination-wrap .previous_link,
.pagination-wrap .next_link{
	position: absolute;
	left: 0px;
	top: 18px;
	opacity: 1;
}

.pagination-wrap .next_link{
	left: auto;
	right: 0;
}

/*==============================================================================
============================ Start Modal Default ===============================
==============================================================================*/
.modal-default .modal-header {
  background-color: rgb(32, 165, 110);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.modal-default input, 
.modal-default textarea, 
.modal-default .select2-container--default .select2-selection--single {
  border: 1px solid rgb(170, 170, 172);
  border-radius: 0;
  box-shadow: none;
  height: 34px;
  padding: 5px 10px;
  text-align: left;
}
.modal-default textarea {
    min-height: 150px;
}
.modal-default .select2-container {
    width: 100% !important;
}
.modal-default .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 20px;
}
.booking-status-wrap {
    height: 100%;
    position: relative;
}
.booking-status-wrap::before {
    background-color: rgb(170, 170, 170);
    content: "";
    height: 100%;
    left: -14px;
    position: absolute;
    top: 0;
    width: 1px;
}
.booking-status-wrap h3 {
    font-size: 16px;
    margin: 0 0 15px;
}
.booking-status-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.booking-status-wrap ul li {
    border-bottom: 1px dashed rgb(218, 218, 218);
    margin: 0 0 10px;
    padding: 0 0 10px 15px;
    position: relative;
}
.booking-status-wrap ul li:last-child {
    border: none;
}
.booking-status-wrap ul li::before {
    background-color: rgb(207, 32, 39);
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 5px;
}
.booking-status-wrap span {
    color: rgb(85, 85, 85);
    display: block;
    font-size: 12px;
}
.modal-default .modal-header button.close {
    color: rgb(255, 255, 255);
    font-size: 28px;
    opacity: 1;
}

.modal-default .btn-all {
    padding: 0 15px;
    1px solid rgb(147, 149, 152)
}




/* ===== Message Modal Fixes ===== */

#messageModal {
	z-index: 10000;
}

#messageModal .modal-dialog {
	margin: 230px auto 0;
	width: 400px;
}

#messageModal .modal-content {
	/*height: 140px;*/
	box-shadow: 0 5px 21px -4px rgba(0, 0, 0, 0.5);
}

#messageModal .modal-header {
	height: 40px;
	padding: 10px;
}

#messageModal .modal-body {
	padding: 30px 80px 40px;
	text-align: center;
}

.success-msg {
	margin: 0 0 15px 0;
}

/* ===== Message Modal Image ===== */

.messageModal-image {
	width: 40px;
	display: none;
	margin: 0 0 20px;
}

.hide {
	display: none;
}

.show-icon {
	display: inline-block;
}


/* ===== OK Button ===== */

.btn-ok {
	width: 90px;
	padding: 5px 0 7px;
	color: rgb(119, 119, 119);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(170, 170, 170);
}

.btn-ok:hover {
	color: #fff;
	background-color: rgb(32, 165, 110);
	border: 1px solid rgb(32, 165, 110);
}


/* ===== CSS Loader ===== */

.loader {
    width: 30px;
    height: 30px;
    /*display: inline-block;*/
    display: none;
  	margin: 2px 15px 0 0;
    border: 5px solid rgb(221, 221, 221); /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}