/*  main.css
*   ===========================================================================
* 
*   Source: main.css ;
*   Modified: SDP;
*   Date Created: 22th Apr 2015;
*   Email: sudeep.karki7@gmail.com;
*
*/

a:hover,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a {
    transition: 400ms ease;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
    outline: none;
}

.form-control:focus {
    box-shadow: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    background-color: #fff;
}
/*=============================================================================*/
/*  To Top
*   ===========================================================================*/
header {
    position: relative;
    z-index: 999;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #262626 url("../images/icons/cd-top-arrow.svg") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

.cd-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #262626;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
/*=============================================================================*/
/*
.content-header {
    margin: 30px 0;
    color: #f5bc35;
    font-size: 20px;
    text-transform: uppercase;
}

.content-header span {
    color: #fff;
}

.inner-content-header {
    margin: 30px 0;
    color: #f5bc35;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.inner-content-header span {
    color: #fff;
}*/
/*=============================================================================*/
/*  Header
*   ===========================================================================*/

.navbar-brand {
    padding: 0;
    height: auto;
}

.main-head {
    padding: 15px 0;
    background-color: #262626;
}

@media (min-width: 768px) {
    .main-head {
        padding: 15px;
    }
}

.head-right {
    float: left;
    text-align: left;
}

@media(min-width: 687px){
    .head-right {
        float: right;
        text-align: right;
    }
}

.img-icon {
    margin-right: 10px;
}

.head-right-left {
    display: block;
    margin-bottom: 15px;
    margin-right: 0;
}

@media(min-width: 486px) {
    .head-right-left {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 30px;
    }
    .img-icon {
        margin-right: 20px;
    }
}

@media (max-width: 710px) {
    .head-right {
        margin-top: 15px;
    }
}

.img-text {
    margin-top: 10px;
}

@media(max-width: 992px) {
    .img-text {
        display: none;
    }
}

.head-right-right {
    display: inline-block;
}

.sign-up {
    margin-right: 20px;
    color: #f5bc35;
    text-transform: uppercase;
    vertical-align: middle;
}

.sign-up:hover {
    color: #fff;
}
.dropdown-menu{
    width: 100%;
}
.user-action ul{
    background: #262626;
    border: 1px solid #474747;
}
.user-action a{
    color: #f5bc35;
}
.user-action li a{
    color: #f5bc35;
}
.user-action a:hover{
    color: #FFFFFF;
}
.user-action li a:hover{
    color: #FFFFFF;
}
.caret{
    color: #f5bc35;
}
.caret:hover{
    color: #FFFFFF;
}
/* Location-Dropdown
 ==================================================================================================*/

.location-dropdown .dropdown-menu {
    width: 100%;
    background-color: #262626;
    border-color: #474747;
}

.location-dropdown .dropdown-menu > li > a {
    color: #fff;
}

.location-dropdown .dropdown-menu > li > a:hover,
.location-dropdown .dropdown-menu > li > a:focus {
    color: #f5bc35;
}

.btn-location .caret {
    margin-left: 80px;
}

.btn-location {
    background-color: #272727;
    border-color: #474747;
    color: #f5bc35;
    transition: 400ms ease;
}

.btn-location:hover {
    color: #fff;
    border-color: #fff;
}

.btn-location:focus {
    color: #fff;
    border-color: #474747;
}
/* Login-Dropdown
 ==================================================================================================*/

.login-dropdown {}

.btn-login {
    color: #010101;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #bb9437;
    border: solid 1px rgba(245, 188, 53, .9);
    background-image: linear-gradient(to top, #b48618, #f5bc35);
    transition: 400ms ease;
}

.btn-login:hover {
    color: #fff;
}

.login-dropdown .dropdown-menu {
    width: 290px;
    padding: 15px;
    right: 0;
    left: -114px;
    background-color: #262626;
    border-color: #474747;
}

@media (min-width: 450px) {
    .login-dropdown .dropdown-menu {
        left: auto;
    }
}

.login-dropdown .dropdown-menu form label {
    color: #f5bc35;
}

.forgot-password {
    float: right;
    color: #f55535;
}
/* Hover Dropdown
 ==================================================================================================*/

.navbar-nav > li > .dropdown-menu {
    margin-top: 10px !important;
}

.dropdown {
    display: inline-block;
}

.sub-arrow {
    display: none;
}

.navbar-nav .dropdown-menu > li > a {
    white-space: normal;
}

.navbar-nav ul.sm-nowrap > li > a {
    white-space: nowrap;
}

.navbar-right ul.dropdown-menu {
    left: 0;
    right: auto;
}

.navbar-nav .collapsible ul {
    display: none;
    position: static !important;
    top: auto !important;
    left: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: none !important;
}

.navbar-nav .collapsible ul.sm-nowrap > li > a {
    white-space: normal;
}

.navbar-nav .collapsible iframe {
    display: none;
}

.main-navigation .dropdown-menu {
    background-color: #f5bc35;
}

.main-navigation .navbar-collapse {
    border-color: transparent;
}

.main-navigation .nav.navbar-nav.sm > li {
    border-bottom: 1px solid #232323;
}

@media (min-width: 768px) {
    .main-navigation .nav.navbar-nav.sm > li {
        border-bottom: none;
    }
}

.main-navigation .dropdown-menu > li > a,
.main-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #232323;
}

.main-navigation .dropdown-menu > li > a:hover,
.main-navigation .dropdown-menu > li > a:focus {
    background-color: #232323;
    color: #fff;
}

.main-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    text-align: center;
}

@media (min-width: 768px) {
    .main-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        text-align: left;
    }
}

.main-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.main-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #232323;
    color: #fff;
}
/*=============================================================================*/
/*  Navigation
*   ===========================================================================*/
/*
@media (max-width: 768px) {
    .navbar-nav {
        margin: 0;
    }
}

.navigation-section {
    padding: 0 0 10px;
}

@media (min-width: 768px) {
    .navigation-section {
        padding: 10px 0;
    }
}

.navigation-section ul {
    width: 100%;
}

.navigation-section ul > li {
    width: 100%;
    text-align: center;
}

@media(min-width: 1200px) {
    .navigation-section ul > li {
        width: 20%;
        text-align: left;
    }
}

.navbar-nav > li > a {
    padding: 30px 0 25px 30px;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}

@media(min-width: 768px) {
    .navbar-nav > li > a {
        padding: 30px 0 25px 30px;
    }
}

.navbar-nav > li > a > span {
    display: block;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 400;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
    opacity: .5;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav > li > a > span.sub-arrow {
    display: none;
}
*/

.show {
    visibility: visible;
}

.toggle-section {
    visibility: hidden;
    height: 0;
}

.navigation-section {
    border-bottom: 10px solid #fff;
    border-top: 10px solid #fff;
    position: relative;
}

.navigation-hover-wrapper {
    padding: 15px;
    position: absolute;
    left: 0;
}
.navigation-hover-wrapper.navigation-hover-wrapper-store {
    padding: 15px;
}

.navigation-toggle {
    padding: 0;
    margin: 0;
}

.navigation-toggle li {
    width: 100%;
    float: left;
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
}

.navigation-toggle > li > a {
    display: block;
    padding: 30px 0 25px 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.navigation-toggle > li > a > span {
    display: none;
    font-size: 18px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .navigation-toggle li {
        width: 20%;
        text-align: center;
    }
    .navigation-toggle > li > a {
        padding: 18px 0 18px 30px;
    }
}

@media (min-width: 780px) {
    .navigation-toggle li {
        width: 20%;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .navigation-toggle > li > a > span {
        display: block;
    }
    .navigation-toggle li {
        width: 20%;
    }
    .navigation-toggle > li > a {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .navigation-toggle > li > a {
        font-size: 26px;
    }
}

.heritage-wrapper,
.activity-wrapper,
.transfer-wrapper,
.deals-wrapper {
    display: block;
    width: 100%;
}
.activity-inner-wrapper{
    background: #fff;
    padding: 30px;
    margin: 0 0 20px 0;
    border: 1px solid #dca729;
    border-radius: 5px;
    box-shadow: 0 6px #dca729, 0 0 1px #dca729;
}

.activity-inner-wrapper .book-info{
    margin-bottom: 20px;
}

.activity-info{
    margin-bottom: 20px;
}

.activity-info span:first-child{
    width: 85px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

.activity-type{
    color: #959595;
    font-size: 14px;
}

.activity-duration{
    color: #959595;
    font-size: 14px;
}
/*Needed top move nav top*/

/*.heritage-wrapper {
    bottom: 1px;
}

.activity-wrapper {
    bottom: 1px;
}

.transfer-wrapper {
    bottom: 1px;
}

.deals-wrapper {
    bottom: 1px;
}

.app-wrapper {
    bottom: 1px;
}*/

.show-menu-top .heritage-wrapper,
.show-menu-top .activity-wrapper,
.show-menu-top .transfer-wrapper,
.show-menu-top .deals-wrapper
{
    bottom: -14px;
}
.show-menu-top .app-wrapper{
    bottom: 0;
}

.show-menu-bottom .heritage-wrapper,
.show-menu-bottom .activity-wrapper,
.show-menu-bottom .transfer-wrapper,
.show-menu-bottom .deals-wrapper{
    top: -15px;
}

.show-menu-bottom .megamenu,
.fix-navigation .app .megamenu,
.fix-navigation .megamenu{
    top: 66px;
}

.fix-navigation .app-wrapper, 
.show-menu-bottom .app-wrapper{
    top: 0;
}

.fix-navigation .heritage-wrapper,
.fix-navigation .activity-wrapper,
.fix-navigation .transfer-wrapper,
.fix-navigation .deals-wrapper{
    top: -15px;
}

@media(min-width:1200px){    
    .show-menu-bottom .megamenu, 
    .fix-navigation .app .megamenu, 
    .fix-navigation .megamenu{
        top: 96px;
    }
    
    .fix-navigation .app-wrapper, 
    .show-menu-bottom .app-wrapper{
        top: 0;
    }
    
    .show-menu-bottom .app .megamenu,
    fix-navigation .app.active .megamenu{
        top: 96px;
    }
}


.show-menu-bottom li.app.active .megamenu,
.fix-navigation .app.active .megamenu {
    transform: translateY(10px);
}

.show-menu-bottom li.active .megamenu,
.fix-navigation li.active .megamenu{
    transform: translateY(10px);
    z-index: 1;
}
.heritage,
.heritage-wrapper {
    background-color: #00aba9;
}

.activity,
.activity-wrapper {
    background-color: #2d89ef;
}

.transfer,
.transfer-wrapper {
    background-color: #9f00a7;
}

.deals,
.deals-wrapper {
    background-color: #795548;
}

.app,
.app-wrapper {
    background-color: #f08819;
}

.app-dropdown-menu {
    border-radius: 0;
    padding: 30px;
    width: 100% !important;
    background-color: #f08819;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: transparent;
}
/* Heritage-hover
 ==================================================================================================*/

.heritage-wrapper h2 {
    margin: 15px 0 0;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.move-next {
    width: 42px;
    height: 77px;
    margin: 15px 0 0;
    display: block;
    background-image: url("../images/icons/move-next-page.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.heritage-wrapper p {
    color: #fff;
    line-height: 22px;
}

.btn-view-heritage {
    height: 33px;
    margin: 20px 0;
    padding: 0 30px;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    background-color: #2570b7;
    -webkit-box-shadow: 0 3px rgba(15, 79, 135, .72);
    -moz-box-shadow: 0 3px rgba(15, 79, 135, .72);
    box-shadow: 0 3px rgba(15, 79, 135, .72);
    background: rgb(76,214,255);
    background: -moz-linear-gradient(top,  rgba(76,214,255,1) 0%, rgba(63,185,249,1) 40%, rgba(49,153,243,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,214,255,1)), color-stop(40%,rgba(63,185,249,1)), color-stop(100%,rgba(49,153,243,1)));
    background: -webkit-linear-gradient(top,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    background: -o-linear-gradient(top,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    background: -ms-linear-gradient(top,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    background: linear-gradient(to bottom,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cd6ff', endColorstr='#3199f3',GradientType=0 );
    transition: 400ms ease;
}

.btn-view-heritage:hover{
    color: #fff;
    background: rgb(75,213,255);
    background: -moz-linear-gradient(top,  rgba(75,213,255,1) 0%, rgba(68,197,252,1) 40%, rgba(60,179,248,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,213,255,1)), color-stop(40%,rgba(68,197,252,1)), color-stop(100%,rgba(60,179,248,1)));
    background: -webkit-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: -o-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: -ms-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: linear-gradient(to bottom,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bd5ff', endColorstr='#3cb3f8',GradientType=0 );
    box-shadow: 0 3px rgba(15, 79, 135, .6);
}

.btn-view-heritage:focus{
    color: #fff;
    background: rgb(48,150,242);
    background: -moz-linear-gradient(top,  rgba(48,150,242,1) 0%, rgba(60,177,247,1) 40%, rgba(73,208,254,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,150,242,1)), color-stop(40%,rgba(60,177,247,1)), color-stop(100%,rgba(73,208,254,1)));
    background: -webkit-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: -o-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: -ms-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: linear-gradient(to bottom,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3096f2', endColorstr='#49d0fe',GradientType=0 );
    box-shadow: inset 0 -3px rgba(15, 79, 135, .6);
}   
/* Activity-hover
 ==================================================================================================*/

.content-wrapper.content-wrapper-blue {
    border: 1px solid #176bc7;
    -webkit-box-shadow: 0 6px #176bc7;
    -moz-box-shadow: 0 6px #176bc7;
    box-shadow: 0 6px #176bc7;
}

.view-more.view-more-top-blue {
    margin: 0;
    background-image: url("../images/icons/view-more-blue.png");
    color: #fff;
}

.view-more.view-more-top-blue:hover {
    color: #fff;
}

.view-more.view-more-top-blue:focus {
    color: #fff;
    border-radius: 20px;
    background-color: #2d89ef;
    -webkit-box-shadow: inset 0 -2px 5px rgba(81, 81, 81, .75);
    -moz-box-shadow: inset 0 -2px 5px rgba(81, 81, 81, .75);
    box-shadow: inset 0 -2px 5px rgba(81, 81, 81, .75);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .26);
}
/* Transfer-hover*/
.content-wrapper.content-wrapper-purple {
    border: 1px solid rgb(191, 0, 167);
    -webkit-box-shadow: 0 6px rgb(191,0,197);
    -moz-box-shadow: 0 6px rgb(191,0,197);
    box-shadow: 0 6px rgb(191,0,197);
}

.view-more.view-more-top-purple {
    margin: 0;
    background-image: url("../images/icons/view-more-blue.png");
    color: #fff;
}

.view-more.view-more-top-purple:hover {
    color: #fff;
}

.view-more.view-more-top-purple:focus {
    color: #fff;
    border-radius: 20px;
    background-color: #2d89ef;
    -webkit-box-shadow: inset 0 -2px 5px rgba(81, 81, 81, .75);
    -moz-box-shadow: inset 0 -2px 5px rgba(81, 81, 81, .75);
    box-shadow: inset 0 -2px 5px rgba(81, 81, 81, .75);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .26);
}
/* App-hover
 ==================================================================================================*/

.app-wrapper h2 {
    display: inline-block;
    margin-top: 0;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.move-next-download {
    width: 28px;
    height: 51px;
    display: inline-block;
    background-image: url("../images/icons/move-next-page-download.png");
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top;
}

/*.app-wrapper .apple {
    margin-left: 50px;
}*/

.app{
    position: relative;
}

.app .megamenu{
    position: absolute;
    right: 0;
}

.app .megamenu .app-wrapper{
    position: absolute;
    right: 0;
}

.app-wrapper .google,
.app-wrapper .apple {
    height: 40px;
    display: block;
    margin-top: 5px;
    font-size: 13px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 29px;
    color: #fff;
    line-height: 40px;
    transition: 600ms ease;
}

@media(min-width:992px){
    .app-wrapper .google,
    .app-wrapper .apple {
        font-size: 18px;
        padding-left: 40px;
    }
}

.app-wrapper .google:hover,
.app-wrapper .apple:hover {
    color: #000;
}

.app-wrapper .google:hover {
    background-image: url("../images/icons/google-hover.png");
}

.app-wrapper .apple:hover {
    background-image: url("../images/icons/apple-hover.png");
}
/*=============================================================================*/
/* Content
 ==================================================================================================*/

.container-section {
    position: relative;
    background-color: #ffc40d;
    padding-bottom: 15px;
    box-shadow: inset 1px 7px 9px -6px #AB812D;
    -webkit-box-shadow: inset 1px 7px 9px -6px #AB812D;
    -moz-box-shadow: inset 1px 7px 9px -6px #AB812D;
    -o-box-shadow: inset 1px 7px 9px -6px #AB812D;
    /*border-bottom: 100px solid #ffc40d;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;*/
}
.angled-top::after {
    background: none repeat scroll 0 0 #ffc40d;
    bottom: -6px;
    content: "";
    height: 40px;
    left: -1px;
    position: absolute;
    transform: skew(0deg) rotate(-1deg);
    transform-origin: right top 0;
    width: 100%;
    z-index: 1;
}
.container-section.container-section-white {
    background-color: #fff;
}
.angled-bottom::after{
    background: none repeat scroll 0 0 #fff;
    bottom: -24px;
    content: "";
    height: 24px;
    left: 0;
    position: absolute;
    transform: skew(1deg) rotate(1deg);
    transform-origin: right bottom 0;
    width: 100%;
    z-index: 1;
}
.tooltip{
    font-family: "Open Sans",sans-serif;
    top: 27px !important;
    left: 16px !important;
}
.tooltip.bottom .tooltip-arrow{
    display: none;
}
#subscribe-form .tooltip {
    left: 252px !important;
    top: 52px !important;
}
.tooltip-inner{
    background:#f0443b;
}

.checkbox.terms .tooltip{
    left: 0 !important;
    top: 23px !important;
}
.tooltip-arrow{
    left: 15px !important;
}
.tooltip-inner{
    border-radius: 0;
}

.content-header {
    height: 45px;
    display: inline-block;
    padding-right: 50px;
    margin: 30px 0 60px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
    background: url("../images/icons/head-icon-black.png") no-repeat right center;
}

@media(min-width:768px){
    .content-header {
        font-size: 26px;
        margin: 60px 0 40px;
    }
}

.content-header.inner-content-header {
    margin: 0 0 40px;
}

.content-header.content-header-white {
    color: #fff;
    background: url("../images/icons/head-icon-white.png") no-repeat right center;
}

.deals-wrapper .content-wrapper {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px #4E342E, 0 0 1px #4E342E;
    -moz-box-shadow: 0 6px #4E342E, 0 0 1px #4E342E;
    box-shadow: 0 6px #4E342E, 0 0 1px #4E342E;
}

.content-wrapper {
    margin-bottom: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px #dca729, 0 0 1px #dca729;
    -moz-box-shadow: 0 6px #dca729, 0 0 1px #dca729;
    box-shadow: 0 6px #dca729, 0 0 1px #dca729;
}

.content-wrapper.content-wrapper-grey {
    border: 1px solid #c9c9c9;
    -webkit-box-shadow: 0 6px #d7d7d7, 0 0 1px #c9c9c9;
    -moz-box-shadow: 0 6px #d7d7d7, 0 0 1px #c9c9c9;
    box-shadow: 0 6px #d7d7d7, 0 0 1px #c9c9c9;
}

@media(max-width: 768px) {
    .content-wrapper {
        margin-bottom: 15px;
    }
    .content-wrapper.content-wrapper-grey {
        margin-bottom: 15px;
    }
    .content-wrapper img,
    .content-wrapper.content-wrapper-grey img {
        margin: 0 auto;
    }
}

.book-info {
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.book-info h5 {
    margin: 0 10px 0 0 ;
}

.content-wrapper > h2 {
    margin: 0 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.book-info > span {
    display: inline-block;
    text-transform: uppercase;
    color: #2570b7;
}

.book-info > span > span:last-child {
    color: #000;
    display: inline-block;
    font-size: 16px;
}

.content-wrapper > p {
    padding: 10px;
}

.navigation-hover-wrapper .content-wrapper .book-text-toggle{
    height:  50px;
    display: none;
    overflow: hidden;
}

.book-text-toggle{
    height: 60px;
    margin: 0;
    display: none;
}

@media(min-width:768px){
    .book-text-toggle{
        display: block;
    }
}

@media(min-width:1200px){
    .navigation-hover-wrapper .content-wrapper .book-text-toggle{
        display: block;
    }
}

.btn-book-activity {
    height: 33px;
    float: right;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    background-color: #2570b7;
    -webkit-box-shadow: 0 3px rgba(15, 79, 135, .72);
    -moz-box-shadow: 0 3px rgba(15, 79, 135, .72);
    box-shadow: 0 3px rgba(15, 79, 135, .72);
    transition: 400ms ease all;
    background: rgb(76,214,255);
    background: -moz-linear-gradient(top,  rgba(76,214,255,1) 0%, rgba(63,185,249,1) 40%, rgba(49,153,243,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,214,255,1)), color-stop(40%,rgba(63,185,249,1)), color-stop(100%,rgba(49,153,243,1)));
    background: -webkit-linear-gradient(top,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    background: -o-linear-gradient(top,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    background: -ms-linear-gradient(top,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    background: linear-gradient(to bottom,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cd6ff', endColorstr='#3199f3',GradientType=0 );
}

@media(min-width:1200px){
    .btn-book-activity{
        font-size: 16px;
    }
}

.btn-book-activity:hover{
    color: #fff;
    background: rgb(75,213,255);
    background: -moz-linear-gradient(top,  rgba(75,213,255,1) 0%, rgba(68,197,252,1) 40%, rgba(60,179,248,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,213,255,1)), color-stop(40%,rgba(68,197,252,1)), color-stop(100%,rgba(60,179,248,1)));
    background: -webkit-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: -o-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: -ms-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: linear-gradient(to bottom,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bd5ff', endColorstr='#3cb3f8',GradientType=0 );
    box-shadow: 0 3px rgba(15, 79, 135, .6);
}

.btn-book-activity:focus{
    color: #fff;
    background: rgb(48,150,242);
    background: -moz-linear-gradient(top,  rgba(48,150,242,1) 0%, rgba(60,177,247,1) 40%, rgba(73,208,254,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,150,242,1)), color-stop(40%,rgba(60,177,247,1)), color-stop(100%,rgba(73,208,254,1)));
    background: -webkit-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: -o-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: -ms-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: linear-gradient(to bottom,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3096f2', endColorstr='#49d0fe',GradientType=0 );
    box-shadow: inset 0 -3px rgba(15, 79, 135, .6);
}   

.read-more {
    width: 103px;
    display: block;
    padding: 0 20px 0 0;
    margin: 10px auto;
    float: none;
    font-weight: 700;
    color: #f66f15;
    text-transform: uppercase;
    transition: 400ms ease;
    background-image: url("../images/icons/read-more.png");
    background-repeat: no-repeat;
    background-position: right center;
}

@media(min-width:768px){
    .read-more{
        float: right;
        margin: 0 10px;
    }
}

.read-more:hover {
    color: #ffc40d;
}

@-webkit-keyframes view-more {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes view-more {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes view-more-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes view-more-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}


.view-more {
    background-image: url("../images/icons/view-more.png");
    background-position: 7px center;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    margin: 20px 0 0;
    padding: 0 22px 0 45px;
    position: relative;
    z-index: 9;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.1s ease 0s;
}

.view-more:hover{
    color: #fff;
}
.view-more:hover, .view-more:focus, .view-more:active{
  -webkit-animation-name: view-more-float, view-more;
  animation-name: view-more-float, view-more;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@media(min-width: 768px) {
    .view-more {
        margin: 30px 0 0;
    }
}

.view-more:focus {
    color: #fff;
    border-radius: 20px;
    background-color: #fec132;
    -webkit-box-shadow: inset 0 -2px 5px rgba(207, 154, 28, .75);
    -moz-box-shadow: inset 0 -2px 5px rgba(207, 154, 28, .75);
    box-shadow: inset 0 -2px 5px rgba(207, 154, 28, .75);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .26);
}

.view-more.view-more-blue {
    background-image: url("../images/icons/view-more-blue.png");
    color: #2f94f2;
    border: 1px solid #2f94f2;
    border-radius: 40px;
}

.view-more.view-more-blue:hover {
    color: #2f94f2;
}

.view-more.view-more-blue:focus {
    color: #2f94f2;
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 -2px 5px rgba(215, 215, 215, .75);
    -moz-box-shadow: inset 0 -2px 5px rgba(215, 215, 215, .75);
    box-shadow: inset 0 -2px 5px rgba(215, 215, 215, .75);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .26);
}
/*=============================================================================*/
/* Banner
 ==================================================================================================*/
/*Slider*/
/*=============================================================================*/

#banner-slider .owl-controls {
    margin-top: 0;
}

#banner-slider.owl-theme .owl-controls .owl-nav div {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 0;
    text-indent: -99999px;
    opacity: .3;
}

#banner-slider.owl-theme .owl-controls .owl-nav div:hover {
    opacity: 1;
}

#banner-slider.owl-theme .owl-controls .owl-nav .owl-prev {
    background: #000 url("../images/icons/carousel-left-arrow.png") no-repeat center center;
    left: 20px;
}

#banner-slider.owl-theme .owl-controls .owl-nav .owl-next {
    background: #000 url("../images/icons/carousel-right-arrow.png") no-repeat center center;
    right: 20px;
}
/*=============================================================================*/
/*  Bottom image
*   ===========================================================================*/
.plan-trip {
    display: block;
    height: 473px;
    width: 100%;
    position: relative;
}
.parascroll{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.plan-trip-wrap{
    height: 473px;
}
.para-content-1{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bottom-image-section {
    width: 100%;
    height: 540px;
    background: url("../images/parallax-img.png")no-repeat top center;
    background-color: #f4f4f4;
}
.make-trip {
    height: 40px;
    display: inline-block;
    padding: 0 22px 0 5px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    position: absolute;
    top:70%;
    right: 0;
    /**/
    
    -webkit-box-shadow: 0 3px #a4571a;
    -moz-box-shadow: 0 3px #a4571a;
    box-shadow: 0 3px #a4571a;
    background-image: -webkit-linear-gradient(bottom, #f66f15, #ffc335);
    background-image: -moz-linear-gradient(bottom, #f66f15, #ffc335);
    background-image: -o-linear-gradient(bottom, #f66f15, #ffc335);
    background-image: -ms-linear-gradient(bottom, #f66f15, #ffc335);
    background-image: linear-gradient(to top, #f66f15, #ffc335);
}

.make-trip:hover{
    color: #fff;
    background: rgb(255,193,52);
    background: -moz-linear-gradient(top,  rgba(255,193,52,1) 0%, rgba(253,170,43,1) 53%, rgba(250,149,36,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,193,52,1)), color-stop(53%,rgba(253,170,43,1)), color-stop(100%,rgba(250,149,36,1)));
    background: -webkit-linear-gradient(top,  rgba(255,193,52,1) 0%,rgba(253,170,43,1) 53%,rgba(250,149,36,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,193,52,1) 0%,rgba(253,170,43,1) 53%,rgba(250,149,36,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,193,52,1) 0%,rgba(253,170,43,1) 53%,rgba(250,149,36,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,193,52,1) 0%,rgba(253,170,43,1) 53%,rgba(250,149,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc134', endColorstr='#fa9524',GradientType=0 );
}

.make-trip:focus{
    color: #fff;
    background: rgb(246,112,22);
    background: -moz-linear-gradient(top,  rgba(246,112,22,1) 0%, rgba(249,142,33,1) 53%, rgba(253,180,47,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,112,22,1)), color-stop(53%,rgba(249,142,33,1)), color-stop(100%,rgba(253,180,47,1)));
    background: -webkit-linear-gradient(top,  rgba(246,112,22,1) 0%,rgba(249,142,33,1) 53%,rgba(253,180,47,1) 100%);
    background: -o-linear-gradient(top,  rgba(246,112,22,1) 0%,rgba(249,142,33,1) 53%,rgba(253,180,47,1) 100%);
    background: -ms-linear-gradient(top,  rgba(246,112,22,1) 0%,rgba(249,142,33,1) 53%,rgba(253,180,47,1) 100%);
    background: linear-gradient(to bottom,  rgba(246,112,22,1) 0%,rgba(249,142,33,1) 53%,rgba(253,180,47,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f67016', endColorstr='#fdb42f',GradientType=0 );

}

@media (min-width: 768px) {
    .make-trip {
        font-size: 15px;
        top:45%;
    }
}

.make-trip img {
    margin-right: 10px;
}

.bottom-image-wrapper {
    height: 473px;
    

}
.bottom-image-wrapper .scrollable{
    height: 300px;
}
.first-img{
    position: relative;
    left: 0;
    top: 0;
}
@media(min-width:768px){
    .first-img{
        left: 40px;
    }
}

@media(min-width:768px){
    .bottom-image-wrapper {
        right: 0;
    }
}

.bottom-image-wrapper > a {
    position: absolute;
    top: 210px;
    right: 0;
}

@media(min-width:768px){
    .bottom-image-wrapper > a {
        top: 140px;
    }
}

.bottom-image-wrapper .arrow {
    bottom: 96px;
    right: 36px;
    position: absolute;
    transform: translateY(-50%);
}

@media(min-width:768px){
    .bottom-image-wrapper .arrow {
        top: 30%;
        left: 320px;
    }
}
/*=============================================================================*/
/* Footer
 ==================================================================================================*/

footer {
    overflow: hidden;
    background-color: #262626;
}

footer .content-header {
    text-align: center;
}

.footer-top {
    padding: 30px 0;
    margin-bottom: 30px;
    background-color: #ffc40d;
}

.row.footer-links div:nth-child(2){
    margin:0 0 20px;
}

.footer-top span {
    height: 55px;
    color: #fff;
    line-height: 55px;
    font-size: 23px;
}

@media (min-width: 1200px) {
    .footer-top span {
        font-size: 26px;
    }
}

.footer-top input {
    width: 100%;
    height: 55px;
    padding-left: 20px;
    font-size: 16px;
    border: none;
}

.footer-top input::-webkit-input-placeholder {
    /* WebKit browsers */
    
    color: #4b4b4b;
}

.footer-top input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    
    color: #4b4b4b;
    opacity: 1;
}

.footer-top input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    
    color: #4b4b4b;
    opacity: 1;
}

.footer-top input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    
    color: #4b4b4b;
}

.footer-top button {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    background-color: #2570b7;
    -webkit-box-shadow: 0 3px rgba(15, 79, 135, .72);
    -moz-box-shadow: 0 3px rgba(15, 79, 135, .72);
    box-shadow: 0 3px rgba(15, 79, 135, .72);
    background-image: -webkit-linear-gradient(bottom, #2f94f2, #4cd7ff);
    background-image: -moz-linear-gradient(bottom, #2f94f2, #4cd7ff);
    background-image: -o-linear-gradient(bottom, #2f94f2, #4cd7ff);
    background-image: -ms-linear-gradient(bottom, #2f94f2, #4cd7ff);
    background-image: linear-gradient(to top, #2f94f2, #4cd7ff);
    transition: 400ms ease;
}

.footer-top button:hover{
    color: #fff;
    background: rgb(75,213,255);
    background: -moz-linear-gradient(top,  rgba(75,213,255,1) 0%, rgba(68,197,252,1) 40%, rgba(60,179,248,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,213,255,1)), color-stop(40%,rgba(68,197,252,1)), color-stop(100%,rgba(60,179,248,1)));
    background: -webkit-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: -o-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: -ms-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: linear-gradient(to bottom,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bd5ff', endColorstr='#3cb3f8',GradientType=0 );
    box-shadow: 0 3px rgba(15, 79, 135, .6);
}

.footer-top button:focus{
    color: #fff;
    background: rgb(48,150,242);
    background: -moz-linear-gradient(top,  rgba(48,150,242,1) 0%, rgba(60,177,247,1) 40%, rgba(73,208,254,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,150,242,1)), color-stop(40%,rgba(60,177,247,1)), color-stop(100%,rgba(73,208,254,1)));
    background: -webkit-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: -o-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: -ms-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: linear-gradient(to bottom,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3096f2', endColorstr='#49d0fe',GradientType=0 );
    box-shadow: inset 0 -3px rgba(15, 79, 135, .6);
}   

.footer-link-head {
    margin: 30px 0 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.footer-links a {
    display: block;
    font-weight: 300;
    color: #fff;
    transition: 400ms ease;
}

.footer-links a:hover {
    color: #FFC40D;
}

.footer-links p {
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
}

.footer-links .youtube,
.footer-links .facebook,
.footer-links .twitter {
    height: 30px;
    padding-left: 30px;
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 30px;
    transition: 600ms ease;
}

.footer-links .google,
.footer-links .apple {
    height: 30px;
    padding-left: 30px;
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 30px;
    transition: 600ms ease;
}

.footer-links .youtube:hover,
.footer-links .facebook:hover,
.footer-links .twitter:hover,
.footer-links .goolge:hover,
.footer-links .apple:hover {
    opacity: .8;
}

.google {
    background-image: url("../images/icons/google.png");
}

.apple {
    background-image: url("../images/icons/apple.png");
}

.youtube {
    background-image: url("../images/icons/youtube.png");
}

.footer-links .youtube:hover {
    color: #E32525;
}

.facebook {
    background-image: url("../images/icons/facebook.png");
}

.footer-links .facebook:hover {
    color: #3B5998;
}

.twitter {
    background-image: url("../images/icons/twitter.png");
}

.footer-links .twitter:hover {
    color: #1AB2E8;
}

.copyright {
    border-top: 1px solid #f5bc35;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

.copyright a {
    color: #f0443b;
    transition: all 400ms ease 0s;
}

.copyright a:hover {
    color: #f5bc35;
}
/*=================================================================================================*/
/* ======================================Tour Information Page======================================
 ==================================================================================================*/
/* Inner Banner
 ==================================================================================================*/

.banner-slider-section{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}

.inner-banner-wrapper::before {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media(min-width:768px){
    .inner-banner-wrapper {
        min-height: 358px;
    }
}

.inner-banner-text {
    padding: 5px 0 0;
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.inner-banner-text h2{
    margin-top: 0;
}

@media(min-width:768px){
    .inner-banner-text {
        padding: 20px 0 0;
    }
}

@media(min-width:992px){
    .inner-banner-text {
        padding: 50px 0 0;
    }
}

.inner-banner-text h2 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.inner-banner-text p {
    line-height: 22px;
}

@media(min-width:768px){
    .inner-banner-text h2 {
        font-size: 26px;
    }
    
    .inner-banner-text p {
        font-size: 12px;
    }
}
/* Breadcrumb
 ==================================================================================================*/

.bread-crumb {
    margin: 30px 0 20px;
}

.bread-crumb .home-icon {
    background: url("../images/icons/home-icon.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 40px;
    vertical-align: bottom;
    width: 40px;
}

.bread-crumb .breadcrumb {
    background-color: transparent;
    display: inline-block;
    margin: 0;
    padding: 8px 0;
}

.bread-crumb .breadcrumb > li.active > a {
    color: #232323;
}

.bread-crumb .breadcrumb > li > a {
    color: #fff;
}

.bread-crumb .breadcrumb > li:before {
    padding: 0 20px;
    content: url("../images/icons/breadcrumb-arrow.png");
    vertical-align: middle;
}
/*=================================================================================================*/
/* ==================================Tour Information Detail Page==================================
 ==================================================================================================*/
.inner-content-wrapper .no-margin-bottom{
    margin-bottom: 0;
}
.content-wrapper.inner-content-wrapper {
    padding: 15px;
}
@media (min-width: 768px){
    .content-wrapper.inner-content-wrapper {
    padding: 30px;
}
}
.inner-content-wrapper h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #232323;
    font-size: 20px;
    font-weight: 700;
}

.inner-content-wrapper p {
    padding: 0;
    color: #232323;
    line-height: 21px;
    margin-bottom: 30px;
}
.inner-content-wrapper a{
    color: #2f94f2;
}
.aside-nav-wrapper {
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px #dca729, 0 0 1px #dca729;
    -moz-box-shadow: 0 6px #dca729, 0 0 1px #dca729;
    box-shadow: 0 6px #dca729, 0 0 1px #dca729;
}

.aside-nav-wrapper > img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

aside .nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: transparent;
    color: #ffc40d;
}

aside .nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
    color: #ffc40d;
}

aside .nav-pills > li > a {
    color: #262626;
    padding: 20px 12px;
}

aside .nav-pills > li {
    margin: 0 15px;
    border-bottom: 1px solid #262626;
}

.see-all {
    display: inline-block;
    padding: 20px 30px 20px;
    background-image: url("../images/icons/see-all.png");
    background-repeat: no-repeat;
    background-position: right center;
    color: #2d89ef;
    font-weight: 700;
}

.see-all:hover {
    color: #ffc40d;
}

.content-header.aside-header {
    margin: 0 0 10px;
}
/*Slider*/
/*=============================================================================*/

#tour-info-detail-banner-slider .owl-controls {
    margin-top: 5px;
    margin-bottom: 25px;
}

#tour-info-detail-banner-slider.owl-theme .owl-controls .owl-dot{
    display: inline-block;
}

#tour-info-detail-banner-slider.owl-theme .owl-controls .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
}

#tour-info-detail-banner-slider.owl-theme .owl-controls .owl-dot.active span {
    background-color: #262626;
}

#tour-info-detail-banner-slider.owl-theme .owl-controls .owl-dot:last-child span {
    margin: 0;
}

#tour-info-detail-banner-slider.owl-theme .owl-controls .owl-nav div {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    text-indent: -99999px;
}

#tour-info-detail-banner-slider.owl-theme .owl-controls .owl-nav .owl-prev {
    background: #fff url("../images/icons/inner-carousel-left-arrow.png") no-repeat center center;
    left: 20px;
}

#tour-info-detail-banner-slider.owl-theme .owl-controls .owl-nav .owl-next {
    background: #fff url("../images/icons/inner-carousel-right-arrow.png") no-repeat center center;
    right: 20px;
}
/*=================================================================================================*/
/* =======================================Tour Activity Page=======================================
 ==================================================================================================*/
 .filter-search label {
    padding-top: 15px;
    display: block;
 }
 .filter-search span {
    color: #000;
 }
 .filter-content{
    padding: 20px;
    border-bottom: 1px solid #dca729;
 }
 .filter-content .checkbox{
    margin: 0;
 }
 .filter-content h2{
    margin: 0;
    font-size: 16px;
    color: #000;
 }
  .filter-content .search-query {
    background-color: transparent;
    border-color:#d7d7d7;
    border-radius: 0;
    box-shadow: none;
  }
  .search-label{
    margin-bottom: 5px;
    display: block;
  }
 .btn-search {
    height: 33px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    background-color: #2570b7;
    -webkit-box-shadow: 0 3px rgba(15, 79, 135, .72);
    -moz-box-shadow: 0 3px rgba(15, 79, 135, .72);
    box-shadow: 0 3px rgba(15, 79, 135, .72);
    background-image: -webkit-linear-gradient(bottom, #2f94f2, #4cd7ff);
    background-image: -moz-linear-gradient(bottom, #2f94f2, #4cd7ff);
    background-image: -o-linear-gradient(bottom, #2f94f2, #4cd7ff);
    background-image: -ms-linear-gradient(bottom, #2f94f2, #4cd7ff);
    background-image: linear-gradient(to top, #2f94f2, #4cd7ff);
}
.btn-small-search{
    left: -30px;
    background-color: transparent;
    border: none;
    background-image: url("../images/icons/search-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

/* sticky header */
@media (min-width: 980px) {
    .main-head {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }
    .fix-navigation {
        position: fixed;
        top: 64px;
        width: 100%;
        z-index: 99;
        background-color: #fff;
    }
    .position-fix {
        margin-top: 180px;
    }
}
@media (width: 980px) {
    .position-fix {
        margin-top: 150px;
    }
}
/* sticky header */


/*=================================================================================================*/
/* =======================================Tour Activity Detail Page================================
 ==================================================================================================*/
/*Slider*/
/*=============================================================================*/

#tour-activity-detail-banner-slider.owl-carousel .owl-wrapper-outer {
    border: 5px solid #fff;
}

#tour-activity-detail-banner-slider .owl-controls {
    margin-top: 5px;
    margin-bottom: 25px;
}

#tour-activity-detail-banner-slider.owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    background-color: #fff;
}

#tour-activity-detail-banner-slider.owl-theme .owl-controls .owl-page.active span {
    background-color: #262626;
}

#tour-activity-detail-banner-slider.owl-theme .owl-controls .owl-page:last-child span {
    margin: 0;
}

#tour-activity-detail-banner-slider.owl-theme .owl-controls .owl-buttons div {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    text-indent: -99999px;
}

#tour-activity-detail-banner-slider.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: #fff url("../images/icons/inner-carousel-left-arrow.png") no-repeat center center;
    left: 20px;
}

#tour-activity-detail-banner-slider.owl-theme .owl-controls .owl-buttons .owl-next {
    background: #fff url("../images/icons/inner-carousel-right-arrow.png") no-repeat center center;
    right: 20px;
}
/*Tab*/
/*=============================================================================*/

#tour-activity-detail-tab {
    margin-bottom: 20px;
    border-bottom: none;
}

#tour-activity-detail-tab.nav-tabs > li {
    margin-right: 8px;
}

#tour-activity-detail-tab.nav-tabs > li > a {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    /**/

    border-radius: 3px;
    background-color: #f08819;
    box-shadow: 0 6px #d07514;
}

#tour-activity-detail-tab.nav-tabs > li > a:hover {
    border-color: transparent;
    opacity: .7;
}

#tour-activity-detail-tab.nav-tabs > li.active > a,
#tour-activity-detail-tab.nav-tabs > li.active > a:hover,
#tour-activity-detail-tab.nav-tabs > li.active > a:focus {
    color: #262626;
    /**/

    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 6px #dca729;
}

.panel {
    background-color: transparent;
}

.panel-body {
    padding: 15px 0;
}

.panel-default {
    margin-bottom: 10px;
    border-color: transparent;
}

.panel-title > a {
    display: block;
    line-height: 35px;
    color: #262626;
}

.panel-title > a.collapsed {
    color: #fff;
}

.panel-default > .panel-heading {
    padding: 0 15px;
    border-radius: 3px;
    background-color: #f08819;
    box-shadow: 0 6px #d07514;
}
/*=================================================================================================*/
/* ==============================================Booking Page=======================================
 ==================================================================================================*/

.bus {
    position: absolute;
    top: 68%;
    left: 17%;
}

.eiffel {
    position: absolute;
    top: 43%;
    left: 22%;
}

.mask-man {
    position: absolute;
    top: 32%;
    right: 24%;
}

.tent {
    position: absolute;
    top: 57%;
    right: 19%;
}

.bag {
    position: absolute;
    top: 79%;
    right: 18%;
}

.booking-form{
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}

.booking-img-wrap{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.booking-form-wrap{
    height: 100%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.booking-para-content-1{
    position: absolute;
    top: 0;
    left: 0;
}

.booking-form .content-wrapper {
    padding: 30px;
}

@media (min-width: 1200px) {
    .booking-form-img {
        height: 120%;
        width: 100%;
        background-image: url("../images/bus.png"), url("../images/eiffel.png"), url("../images/bag.png"), url("../images/tent.png"), url("../images/maskman.png");
        background-position: 0 596px, 6% 339px, 99% 654px, 98% 555px, 88% 300px;
        background-repeat: no-repeat;
    }
}

.booking-form .booking-form-header {
    font-size: 30px;
    text-align: center;
    color: #000;
    margin-top: 0;
    margin-bottom: 30px;
}

.cost-summary {
    margin-top: 15px;
    padding: 30px 0 10px;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}

.cost-summary .amount {
    text-align: right;
}

.cost-summary span {
    display: block;
    margin-bottom: 10px;
}

.cost-summary .blue-color {
    color: #2570b7;
}

.cost-summary .red-color {
    color: #df181a;
    text-transform: uppercase;
}

.btn-proceed {
    height: 33px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    background: rgb(76,214,255);
    background: -moz-linear-gradient(top,  rgba(76,214,255,1) 0%, rgba(63,185,249,1) 40%, rgba(49,153,243,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,214,255,1)), color-stop(40%,rgba(63,185,249,1)), color-stop(100%,rgba(49,153,243,1)));
    background: -webkit-linear-gradient(top,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    background: -o-linear-gradient(top,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    background: -ms-linear-gradient(top,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    background: linear-gradient(to bottom,  rgba(76,214,255,1) 0%,rgba(63,185,249,1) 40%,rgba(49,153,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cd6ff', endColorstr='#3199f3',GradientType=0 );
    box-shadow: 0 3px rgba(15, 79, 135, 0.72);
}

.btn-proceed:hover{
    color: #fff;
    background: rgb(75,213,255);
    background: -moz-linear-gradient(top,  rgba(75,213,255,1) 0%, rgba(68,197,252,1) 40%, rgba(60,179,248,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,213,255,1)), color-stop(40%,rgba(68,197,252,1)), color-stop(100%,rgba(60,179,248,1)));
    background: -webkit-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: -o-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: -ms-linear-gradient(top,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    background: linear-gradient(to bottom,  rgba(75,213,255,1) 0%,rgba(68,197,252,1) 40%,rgba(60,179,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bd5ff', endColorstr='#3cb3f8',GradientType=0 );
    box-shadow: 0 3px rgba(15, 79, 135, .6);
}

.btn-proceed:focus{
    color: #fff;
    background: rgb(48,150,242);
    background: -moz-linear-gradient(top,  rgba(48,150,242,1) 0%, rgba(60,177,247,1) 40%, rgba(73,208,254,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,150,242,1)), color-stop(40%,rgba(60,177,247,1)), color-stop(100%,rgba(73,208,254,1)));
    background: -webkit-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: -o-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: -ms-linear-gradient(top,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    background: linear-gradient(to bottom,  rgba(48,150,242,1) 0%,rgba(60,177,247,1) 40%,rgba(73,208,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3096f2', endColorstr='#49d0fe',GradientType=0 );
    box-shadow: inset 0 -3px rgba(15, 79, 135, .6);
}   

.booking-form .form-group {
    margin-bottom: 0;
}

.booking-form .form-control {
    margin-bottom: 15px;
    height: 30px;
    border-radius: 0;
    border: 1px solid #d7d7d7;
}

.booking-form .row:first-child .form-group .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    text-indent: 0;
    cursor: default;
}

@media (min-width: 768px) {
    .booking-form .form-control {
        margin-bottom: 30px;
    }
}

.booking-form label {
    margin: 5px;
}

.booking-form .radio {
    margin: 2px 0 0;
}

.booking-form .radio label:first-child {
    margin-top: 0;
}

@media(min-width:768px){
    .booking-form .radio label:first-child {
        margin-bottom: 28px;
    }
}

.pick-select {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.promo {
    display: block;
    margin-top: -10px;
}

@media(min-width:768px){
    .promo {
        margin-top: -25px;
    }
}

/*SIGNUP*/
.terms {
    margin: 0 0 10px;
}

.terms.forgot-password {
    float: none;
}

.agent-signup-form-img-wrap{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

@media (min-width: 1200px) {
    .agent-signup-form-img {
        height: 120%;
        width: 100%;
        background-image: url("../images/bus.png"), url("../images/eiffel.png"), url("../images/bag.png"), url("../images/tent.png"), url("../images/maskman.png");
        background-position: 0 408px, 6% 150px, 99% 470px, 97% 367px, 88% 115px;
        background-repeat: no-repeat;
    }
}

.signup-wrap {
    height: 100%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

/* AGETN Style*/
.transaction-wrapper {
    margin-bottom: 6px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 6px #dca729, 0 0 1px #dca729;
}

.transaction-table.table > thead > tr > th,
.transaction-table.table > tbody > tr > th,
.transaction-table.table > tfoot > tr > th,
.transaction-table.table > thead > tr > td,
.transaction-table.table > tbody > tr > td,
.transaction-table.table > tfoot > tr > td {
    padding: 21px;
    border: none;
}

.transaction-table thead > tr > th {
    background-color: #f08819;
}

.transaction-table.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}

.transaction-table.table-striped > tbody > tr:nth-of-type(2n) > td {
    background-color: #e5eef8;
}

.transaction-table.table-striped > tbody > tr:nth-of-type(2n) > td:first-child,
.transaction-table thead > tr > th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.transaction-table.table-striped > tbody > tr:nth-of-type(2n) > td:last-child,
.transaction-table thead > tr > th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.pagination {
    text-align: center;
    width: 100%;
}

.btn-details {
    height: 33px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    background-color: #2570b7;
    box-shadow: 0 3px rgba(15, 79, 135, .72);
    background-image: linear-gradient(to top, #2f94f2, #4cd7ff);
}
.btn-details:focus{
    color: #fff;
}

/*  Modal
*   ===========================================================================*/

.modal-content {
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0 6px #dca729;
    -moz-box-shadow: 0 6px #dca729;
    box-shadow: 0 6px #dca729;
}
.modal-dialog{
    margin: 150px auto;
}
.modal-header {
    padding: 0;
    border-bottom: none;
}
.modal-body{
    padding: 0 0 10px;
}
.modal-title {
    background-color: #f08819;
    border-radius: 5px;
    color: #000;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.modal-content-wrapper {
    border-bottom: 1px solid #dca729;
    padding: 15px 10px;
}
.modal-content-wrapper:last-child{
    border-bottom: none;
}

.modal-content-wrapper span {
    display: block;
}

.modal-content-title {
    font-size: 16px;
    color: #999999;
}

.modal-content-info {
    font-size: 20px;
    color: #000;
    text-align: right;
}
.tab-content {
    margin-bottom: 23px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 6px #dca729, 0 0 1px #dca729;
}

.table-responsive.tab-pane.fade.in.active{
    border: none;
}

#transaction-tab.nav-tabs {
    border-bottom: none;
    padding-left: 10px;
}

#transaction-tab.nav-tabs > li {
    margin-bottom: 0;
}

#transaction-tab.nav-tabs > li > a {
    padding: 15px 20px;
    color: #232323;
    text-transform: capitalize;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
}

#transaction-tab.nav-tabs > li > a:hover,
#transaction-tab.nav-tabs > li > a:focus {
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

#transaction-tab.nav-tabs > li.active > a,
#transaction-tab.nav-tabs > li.active > a:hover,
#transaction-tab.nav-tabs > li.active > a:focus {
    background-color: #f08819;
    border-color: transparent;
    color: #fff;
}

.transaction-table.table > thead > tr > th,
.transaction-table.table > tbody > tr > th,
.transaction-table.table > tfoot > tr > th,
.transaction-table.table > thead > tr > td,
.transaction-table.table > tbody > tr > td,
.transaction-table.table > tfoot > tr > td {
    padding: 21px;
    border: none;
}

.transaction-table thead > tr > th {
    background-color: #f08819;
}

.transaction-table.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}

.transaction-table.table-striped > tbody > tr:nth-of-type(2n) > td {
    background-color: #e5eef8;
}

.transaction-table.table-striped > tbody > tr:nth-of-type(2n) > td:first-child,
.transaction-table thead > tr > th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.transaction-table.table-striped > tbody > tr:nth-of-type(2n) > td:last-child,
.transaction-table thead > tr > th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-icon {
    width: 19px;
    height: 21px;
    float: right;
    display: inline-block;
    color: #d7edfd;
    font-size: 14px;
    font-weight: bold;
    padding: 0 8px;
    background-image: url("../images/icons/info-iocn.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-tabs > li > a{
    border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-style: none;
}

.wsmenu-click{
    display: none;
}
/*Pagination*/

.pagination {
}

.page {
    display: inline-block;
    padding: 0px 7px;
    font-size: 14px;
    color: #8d8d8d;
}

.page:hover, .page.gradient:hover {
    color: #2d89ef;
}

.page.active {
    color: #2d89ef;
}
.position-fixing{
    content: "";
    display: block;
}